<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Administrador</title>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/AdminLTE.min.css" />
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/skin-blue.min.css" />
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/resources/bootstrap.min.css" />

        <script src="#{facesContext.externalContext.requestContextPath}/resources/adminlte.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
    </h:head>



    <h:body class="hold-transition skin-blue sidebar-mini">



        <div class="wrapper">

            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a class="logo" href="#">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/logo.png" /></span>

                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img src="#{facesContext.externalContext.requestContextPath}/resources/logo.png" height="50%" width="35%"/></span>


                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button -->
                    <p:panelGrid >
                        <p:row>
                            <a href="#" style="margin-top: 30px" class="fa fa-tasks"
                               data-toggle="push-menu" role="button">
                            </a>
                        </p:row>
                        <p:row>
                            <div align ="right">
                                <h:form>
                                    <p:commandButton style="margin-bottom: 30px; margin-right: 20px"  icon="ui-icon-circle-arrow-e" 
                                                     action="#{loginBean.logout()}"
                                                     ></p:commandButton>
                                </h:form>
                            </div>
                        </p:row>
                    </p:panelGrid>

                </nav>


            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header text-center"><p:outputLabel style="color: #ebebeb">
                                #{loginBean.usuarioR.persona.nombre}
                                <p:spacer width="5" height="5"/>
                                #{loginBean.usuarioR.persona.apellido}
                            </p:outputLabel></li>



                        <li class="treeview">
                            <p:commandLink action="home">Inicio</p:commandLink>
                        </li>



                        <li class="treeview">
                            <a href="#"><i class=" ui-icon-gear"></i> <span>Modulo de Servicio</span>
                                <span class="glyphicon glyphicon-chevron-down">
                                    <i class=""></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><p:commandLink value="Simulador de presupuesto" action="#{reservaBean.gotoReservaS()}"/></li>
                                <li><p:commandLink value="Reserva" action="#{reservaBean.gotoReserva()}"/></li>
                            </ul>
                        </li>


                        <li class="treeview">
                            <a href="#"><i class=" ui-icon-gear"></i> <span>Modulo de Compras</span>
                                <span class="glyphicon glyphicon-chevron-down">
                                    <i class=""></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><p:commandLink value="Compras" action="#{compraBean.verCompra()}"/></li>
                                <li><p:commandLink value="Productos" action="#{productoBean.verProductos()}"/></li>
                                <li><p:commandLink value="Proveedor" action="#{proveedorBean.verProveedores()}"/></li>
                                <li><p:commandLink value="Categorias" action="#{categoriaBean.verCategorias()}"/></li>
                                <li><p:commandLink value="Ajuste de stock" action="#{productoBean.ajusteStockList()}"/></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class=" ui-icon-gear"></i> <span>Modulo de Facturas</span>
                                <span class="glyphicon glyphicon-chevron-down">
                                    <i class=""></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><p:commandLink value="Factura de ventas" action="#{reservaBean.loadFacturas()}"/></li>
                                <li><p:commandLink value="Factura de compras" action="#{compraBean.cargarFacturas()}"/></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class=" ui-icon-gear"></i> <span>Modulo de Caja</span>
                                <span class="glyphicon glyphicon-chevron-down">
                                    <i class=""></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><p:commandLink value="Apertura de caja" action="#{cajaBean.verCaja()}"/></li>
                                <li><p:commandLink value="Cierre de caja" action="#{cajaBean.verCajaCierre()}"/></li>

                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#"><i class=" ui-icon-gear"></i> <span>Modulo de Clientes</span>
                                <span class="glyphicon glyphicon-chevron-down">
                                    <i class=""></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><p:commandLink value="Clientes" action="#{clienteBean.verClientes()}"/></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class=" ui-icon-gear"></i> <span>Modulo de Parametros</span>
                                <span class="glyphicon glyphicon-chevron-down">
                                    <i class=""></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><p:commandLink value="Color" action="#{colorBean.verColor()}"/></li>
                                <li><p:commandLink value="Marca" action="#{marcaBean.verMarca()}"/></li>
                                <li><p:commandLink value="Modo pago" action="#{modoPagoBean.verModoPago()}"/></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class=" ui-icon-gear"></i> <span>Modulo de Seguridad</span>
                                <span class="glyphicon glyphicon-chevron-down">
                                    <i class=""></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><p:commandLink value="Rol" action="#{rolBean.verRol()}"/></li>
                                <li><p:commandLink value="Pantalla" action="#{pantallaBean.verPantalla()}"/></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Main content -->

                <section class="content container-fluid">

                    <div >
                        <div class="content container-fluid">
                            <ui:insert name="body" >
                            </ui:insert>

                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <!-- Main Footer -->
            <footer class="main-footer">
                <div>
                    <span></span>
                </div>
            </footer>
            <!-- /.control-sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    </h:body>
</html>
