<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Simulador</title>
        <style type="text/css">
            .ui-selectonemenu{
                display: flex !important;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1" style="color: #ffffff">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('compra')}">
                        <p:messages id="messages" showDetail="true" closable="true">
                            <p:autoUpdate/>
                        </p:messages>

                        <p:tabView>

                            <p:tab title="Ajuste de stock">
                                <p:panel>
                                    <p:panelGrid  columns="2" layout="grid">
                                        <h:panelGrid columns="2" >
                                            <h:panelGroup>
                                                <p:outputLabel>Usuario : </p:outputLabel>
                                                <p:spacer width="5" height="5"/>
                                            </h:panelGroup> 
                                            <h:inputText disabled="true" value="#{productoBean.ajusteStockPost.usuario}">
                                            </h:inputText >
                                        </h:panelGrid>

                                        <h:panelGrid columns="2" >
                                            <h:panelGrid columns="2" >
                                                <p:outputLabel style="color: #f71752">(*)</p:outputLabel> <p:outputLabel>Descripcion de ajuste : </p:outputLabel>
                                            </h:panelGrid>
                                            <p:inputText value="#{productoBean.ajusteStockPost.descripcion}">
                                            </p:inputText >
                                        </h:panelGrid>
                                    </p:panelGrid>
                                </p:panel>
                                <p:separator></p:separator>
                                <p:panel>
                                    <p:panelGrid  columns="2" layout="grid">

                                        <h:panelGrid  columns="1" >
                                            <h:panelGrid columns="2" >
                                                <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel>Motivo: </p:outputLabel>
                                            </h:panelGrid>
                                            <h:selectOneMenu styleClass="form-control"   value="#{productoBean.ajusteStockPost.idMotivo}"
                                                             >
                                                <f:selectItem  itemLabel="--Seleccione"
                                                               itemValue="#{null}"/>
                                                <f:selectItems value="#{productoBean.motivos}" var="motivo" 
                                                               itemLabel="#{motivo.descripcion}"
                                                               itemValue="#{motivo.id}"/>
                                                <p:ajax event="change" />
                                            </h:selectOneMenu  >
                                        </h:panelGrid>

                                        <h:panelGrid  columns="1" >
                                            <h:panelGrid columns="2" >
                                                <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel>Tipo de ajuste</p:outputLabel>
                                            </h:panelGrid>
                                            <h:selectOneMenu styleClass="form-control"   value="#{productoBean.ajusteStockPost.tipo}"
                                                             >
                                                <f:selectItem  itemLabel="--Seleccione"
                                                               itemValue="#{null}"/>
                                                <f:selectItem  itemLabel="Ingreso"
                                                               itemValue="Ingreso"/>
                                                <f:selectItem  itemLabel="Egreso"
                                                               itemValue="Egreso"/>
                                                <p:ajax event="change" />
                                            </h:selectOneMenu  >
                                        </h:panelGrid>
                                        
                                        <h:panelGrid  columns="1" >
                                            <h:panelGrid columns="2" >
                                                <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Cantidad :</p:outputLabel>
                                            </h:panelGrid>
                                            <p:inputNumber value="#{productoBean.ajusteStockPost.cantidad}"> <p:ajax /></p:inputNumber >
                                        </h:panelGrid>

                                        <h:panelGrid  columns="1" >
                                            <h:panelGrid columns="2" >
                                                <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel>Producto:</p:outputLabel>
                                            </h:panelGrid>
                                            <p:inputText  disabled="true"  value="#{productoBean.producto.descripcion}">
                                                <p:ajax />
                                            </p:inputText >
                                        </h:panelGrid>
                                        <h:panelGrid  columns="1" >
                                            <h:panelGrid columns="2" >
                                                <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Stock :</p:outputLabel>
                                            </h:panelGrid>
                                            <p:inputNumber disabled="true"  value="#{productoBean.producto.stock}"> <p:ajax /></p:inputNumber >
                                        </h:panelGrid>

                                        <h:panelGrid  columns="1" >
                                            <h:panelGrid columns="2" >
                                                <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Stock minimo :</p:outputLabel>
                                            </h:panelGrid>
                                            <p:inputNumber disabled="true" value="#{productoBean.producto.stockMinimo}"> <p:ajax /></p:inputNumber >
                                        </h:panelGrid>


                                    </p:panelGrid>
                                </p:panel>
                            </p:tab>
                        </p:tabView>
                        <p:separator></p:separator>
                        <div align="center">
                            <p:commandButton value="Volver" ajax="true" 
                                             style="background-color: #d5d5d5;color: #000"
                                             action="ajusteStockList.xhtml" 
                                             styleClass="mt-3 ui-button-outlined block">
                                <p:ajax event="click" />
                            </p:commandButton>
                            <p:commandButton value="Guardar"   action="#{productoBean.saveAjuste()}"
                                             style="background-color: #000;color: #ffffff"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('compra')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
