<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Ajuste de stock</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('compra')}">
                        <p:accordionPanel>
                            <p:tab title="Listado de ajustes">
                                <h3>Historico de ajustes</h3>
                                <p:separator style="color: #ffffff"/>
                                <p:dataTable value="#{productoBean.ajustes}" var="producto"
                                             scrollable="true" scrollHeight="500">
                                    <p:column width="10%" headerText="# ">
                                        <div align="center" ><h:outputText value="#{producto.idAjusteStock}"/></div>
                                    </p:column>
                                    <p:column width="40%" headerText="Descripcion Producto">
                                        <div align="center" >
                                            <h:outputText value="#{producto.producto.descripcion}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="40%" headerText="Descripcion ajuste">
                                        <div align="center" >
                                            <h:outputText value="#{producto.descripcion}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="40%" headerText="Usuario">
                                        <div align="center" >
                                            <h:outputText value="#{producto.usuario}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="40%" headerText="Stock actual">
                                        <div align="center" >
                                            <h:outputText value="#{producto.cantActual}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="40%" headerText="Stock anterior">
                                        <div align="center" >
                                            <h:outputText value="#{producto.cantAnterior}"/>
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                            <p:tab title="Agregar nuevo ajuste">
                                <p:separator style="color: #ffffff"/>
                                <p class="text-primary">Lista de Productos</p>
                                <p:dataTable value="#{productoBean.productosSinFiltro}" var="producto" scrollable="true" scrollHeight="500">
                                    <p:column width="20%" headerText="Accion">
                                        <div align="center" >
                                            <p:commandButton class="btn btn-default" 
                                                             action="#{productoBean.ajusteStock()}"
                                                             icon="ui-icon-wrench" 
                                                             style="background: #ffcc00; color: #ffffff"
                                                             title="Editar"  >
                                                <f:setPropertyActionListener value="#{producto}" target="#{productoBean.producto}" ></f:setPropertyActionListener >
                                            </p:commandButton>
                                        </div>
                                    </p:column>
                                    <p:column width="10%" headerText="# ">
                                        <div align="center" ><h:outputText value="#{producto.idProducto}"/></div>
                                    </p:column>
                                    <p:column width="40%" headerText="Descripcion Producto">
                                        <div align="center" >
                                            <h:outputText value="#{producto.descripcion}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="40%" headerText="Stock actual">
                                        <div align="center" >
                                            <h:outputText value="#{producto.stock}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="40%" headerText="Stock minimo">
                                        <div align="center" >
                                            <h:outputText value="#{producto.stockMinimo}"/>
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>

                        </p:accordionPanel>

                        <br></br>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('compra')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
