<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Caja</title>
        <style type="text/css">
            .ui-selectonemenu{
                display: flex !important;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1" style="color: #ffffff">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('caja')}">
                        <p:messages id="messages" showDetail="true" closable="true">
                            <p:autoUpdate/>
                        </p:messages>

                        <p:tabView>
                            <p:tab title="Caja">
                                <p:panelGrid columns="2"  layout="grid">
                                    <h:panelGroup>
                                        <p:outputLabel>Apertura de caja :</p:outputLabel>
                                        <p:inputNumber disabled="true" value="#{cajaBean.caja.montoApertura}">
                                        </p:inputNumber >
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel>Usuario : </p:outputLabel>
                                        <p:inputText value="#{loginBean.usuario}">
                                        </p:inputText >
                                    </h:panelGroup> 
                                </p:panelGrid>

                                <p:commandButton value="Cerrar caja" action="#{cajaBean.cierre()}"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax update="from1"/>
                                </p:commandButton>

                                <h:panelGroup rendered="#{cajaBean.caja.estado=='C'}">
                                    <div  class="alert alert-info" role="alert" >
                                        <p:outputLabel style="color: #000">
                                            Cierre de caja exitoso.
                                        </p:outputLabel><a href="#" class="info"> </a>
                                    </div>
                                </h:panelGroup>

                                <h:panelGroup rendered="#{cajaBean.caja.estado=='C'}">
                                    <p:outputLabel>Cierre de caja :</p:outputLabel>
                                    <p:inputNumber value="#{cajaBean.caja.montoCierre}">
                                    </p:inputNumber >
                                </h:panelGroup>
                            </p:tab>
                        </p:tabView>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('caja')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
