<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Caja</title>
        <style type="text/css">
            .ui-selectonemenu{
                display: flex !important;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1" style="color: #ffffff">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('caja')}">
                        <p:messages id="messages" showDetail="true" closable="true">
                            <p:autoUpdate/>
                        </p:messages>
                        <p:tabView>
                            <p:tab title="Caja">
                                <p:panelGrid columns="3"  layout="grid">
                                    <h:panelGroup>
                                        <p:outputLabel>Apertura de caja :</p:outputLabel>
                                        <p:inputNumber  value="#{cajaBean.caja.montoApertura}">
                                        </p:inputNumber >
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{cajaBean.caja.estado=='C'}">
                                        <p:outputLabel>Cierre de caja :</p:outputLabel>
                                        <p:inputNumber value="#{cajaBean.caja.montoCierre}">
                                        </p:inputNumber >
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel>Usuario : </p:outputLabel>
                                        <p:inputText value="#{loginBean.usuario}">
                                        </p:inputText >
                                    </h:panelGroup> 
                                </p:panelGrid>
                            </p:tab>
                        </p:tabView>
                        <p:separator></p:separator>
                        <p:tabView>
                            <p:tab title="Listado de detalle">
                                <p:dataTable value="#{cajaBean.detalles}" var="detalle" scrollable="true" scrollHeight="500">
                                    <p:column width="5%"  headerText="#">
                                        <div align="center" ><h:outputText value="#{detalle.item}"/></div>
                                    </p:column>
                                    <p:column  headerText="Nro Factura">
                                        <div align="center" ><h:outputText value="#{detalle.factura.idFactura}"/></div>
                                    </p:column>
                                    <p:column headerText="Detalle">
                                        <h:outputText value="#{detalle.detalle}"/>
                                    </p:column>
                                    <p:column headerText="Egreso">
                                        <div align="center" >
                                            <p:outputLabel style="color: #d33724" value="-"/>
                                            <p:outputLabel style="color: #d33724" value="#{detalle.egreso}">
                                                <f:convertNumber currencySymbol=" Gs."
                                                                 maxFractionDigits="0" pattern="###,###"/>
                                                Gs.
                                            </p:outputLabel>
                                        </div>
                                    </p:column>
                                    <p:column headerText="Ingreso">
                                        <div align="center" >
                                            <p:outputLabel style="color: #008d4c" value="#{detalle.ingreso}">
                                                <f:convertNumber currencySymbol=" Gs."
                                                                 maxFractionDigits="0" pattern="###,###"/>
                                                Gs.
                                            </p:outputLabel>
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </p:tab>
                        </p:tabView>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('caja')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
