<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Categorias</title>
        <style type="text/css">
            .ui-selectonemenu{
                display: flex !important;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1" style="color: #ffffff">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('compra')}">
                        <p:messages id="messages" showDetail="true" closable="true">
                            <p:autoUpdate/>
                        </p:messages>

                        <p:tabView>

                            <p:tab title="Categoria">
                                <h:panelGrid columns="2" >
                                    <p:outputLabel style="color: #f71752">(*)</p:outputLabel> 
                                    <p:outputLabel>Descripcion</p:outputLabel>
                                </h:panelGrid>
                                <p:inputText value="#{categoriaBean.param.descripcion}">
                                    <p:ajax />
                                </p:inputText >
                            </p:tab>
                        </p:tabView>
                        <p:separator></p:separator>
                        <div align="center">
                            <p:commandButton value="Volver" ajax="true" 
                                             style="background-color: #d5d5d5;color: #000"
                                             action="categoria.xhtml" 
                                             styleClass="mt-3 ui-button-outlined block">
                                <p:ajax event="click" />
                            </p:commandButton>
                            <p:commandButton value="Guardar"   action="#{categoriaBean.save()}"
                                             style="background-color: #000;color: #ffffff"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('compra')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
