<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Clientes</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('cliente')}">
                        <h3>Clientes</h3>
                        <p:separator style="color: #ffffff"/>
                        <p class="text-primary">Lista de Clientes</p>
                        <p:dataTable value="#{clienteBean.clientes}" var="cliente"
                                     scrollable="true"
                                     scrollHeight="350">
                            <p:column width="20%" headerText="Acción">
                                <div align="center" >
                                    <p:commandButton class="btn btn-default" 
                                                     style="width: 15px; height:20px;background: #ffcc00; color: #ffffff"
                                                     action="#{clienteBean.edit()}"
                                                     icon="ui-icon-pencil" 
                                                     title="Editar"  >
                                        <f:setPropertyActionListener value="#{cliente}" target="#{clienteBean.cliente}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                </div>
                            </p:column>
                            <p:column width="10%" headerText="# ">
                                <div align="center" ><h:outputText value="#{cliente.idPersona}"/></div>
                            </p:column>
                            <p:column width="40%" headerText="Cliente">
                                <div align="center" >
                                    <h:outputText value="#{cliente.nombre.concat(' ').concat(cliente.apellido)}"/>
                                </div>
                            </p:column>
                            <p:column width="40%" headerText="Ruc">
                                <div align="center" >
                                    <h:outputText value="#{cliente.ruc}"/>
                                </div>
                            </p:column>
                            <p:column width="40%" headerText="Email">
                                <div align="center" >
                                    <h:outputText value="#{cliente.email}"/>
                                </div>
                            </p:column>
                        </p:dataTable>
                        <br></br>
                        <h:commandButton class="btn btn-primary"   
                                         action="#{clienteBean.add()}"
                                         value="Agregar">
                        </h:commandButton>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('cliente')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
