<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Producto</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('compra')}">
                        <h3>Producto</h3>
                        <p:separator style="color: #ffffff"/>
                        <p:panelGrid columns="2"  layout="grid">
                            <h:outputText value="Descripción de compra"/>
                            <p:inputTextarea  autoResize="100" rows="3" cols="57"
                                              value="#{compraBean.factura.descripcion}" 
                                              >
                                <p:ajax event="change" />
                            </p:inputTextarea>
                        </p:panelGrid>
                        <p:panelGrid columns="2"  layout="grid">

                            <h:panelGroup>

                                <p class="text-primary">Lista de Productos</p>
                                <p:dataTable value="#{compraBean.productos}" var="producto"
                                             emptyMessage="No hay registros"
                                             scrollable="true"
                                             >
                                    <p:column width="10%" headerText="# ">
                                        <div align="center" ><h:outputText value="#{producto.idProducto}"/></div>
                                    </p:column>
                                    <p:column width="40%" headerText="Descripcion">
                                        <div align="center" >
                                            <h:outputText value="#{producto.descripcion}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="40%" headerText="Stock actual">
                                        <div align="center" >
                                            <h:outputText value="#{producto.stock}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="40%" headerText="Stock minimo">
                                        <div align="center" >
                                            <h:outputText value="#{producto.stockMinimo}"/>
                                        </div>
                                    </p:column>
                                    <p:column width="20%" headerText="Accion">
                                        <div align="center" >
                                            <p:commandButton icon="ui-icon-circle-plus" 
                                                             title="Agregar"  >
                                                <p:ajax listener="#{compraBean.select(producto)}" update="from1" />
                                            </p:commandButton>
                                        </div>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>

                            <h:panelGroup>
                                <p class="text-primary">Producto Seleccionado</p>
                                <p:panelGrid columns="2"  layout="grid">
                                    <h:outputText value="Producto"/>
                                    <p:inputText disabled="true" required="true"
                                                 value="#{compraBean.producto.descripcion}" 
                                                 />
                                    <h:outputText value="Stock minimo"/>
                                    <p:inputNumber disabled="true" required="true" 
                                                   value="#{compraBean.producto.stockMinimo}" 
                                                   />
                                    <h:outputText value="Stock actual"/>
                                    <p:inputNumber disabled="true" required="true" 
                                                   value="#{compraBean.producto.stock}" 
                                                   />
                                    <h:outputText value="Cantidad a comprar"/>
                                    <p:inputNumber   minValue="0" 
                                                     value="#{compraBean.cantidad}" 
                                                     >
                                        <p:ajax event="change" />
                                    </p:inputNumber>
                                </p:panelGrid>
                            </h:panelGroup>
                        </p:panelGrid>

                        <br></br>
                        <div align="center">
                            <p:commandButton style="background-color: #000;color: #ffffff"  
                                             value="Agregar">
                                <p:ajax listener="#{compraBean.add()}" update="from1" />
                            </p:commandButton>
                        </div>
                        <br></br>


                        <p:dataTable value="#{compraBean.productosSeleccionados}" var="producto"
                                     rows="7"  
                                     emptyMessage="No hay registros" scrollable="true">
                            <p:column width="10%" headerText="# ">
                                <div align="center" ><h:outputText value="#{producto.idProducto}"/></div>
                            </p:column>
                            <p:column width="40%" headerText="Descripcion">
                                <div align="center" >
                                    <h:outputText value="#{producto.descripcion}"/>
                                </div>
                            </p:column>
                            <p:column width="40%" headerText="Stock actual">
                                <div align="center" >
                                    <h:outputText value="#{producto.stock}"/>
                                </div>
                            </p:column>
                            <p:column width="40%" headerText="Cantidad a comprar">
                                <div align="center" >
                                    <h:outputText value="#{producto.cant}"/>
                                </div>
                            </p:column>
                            <p:column width="20%" headerText="Accion">
                                <div align="center" >
                                    <p:commandButton class="btn btn-default" 
                                                     icon="ui-icon-trash" 
                                                     title="Eliminar"  >
                                        <p:ajax listener="#{compraBean.remove(producto)}" update="from1"/>
                                    </p:commandButton>
                                </div>
                            </p:column>
                        </p:dataTable>
                        <br></br>
                        <div align="center">
                            <p:commandButton action="#{compraBean.comprar()}" 
                                             style="background-color: #000;color: #ffffff"
                                             value="Comprar productos">
                            </p:commandButton>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('compra')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
