<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Compra</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('factura')}">
                        <h3>Compras realizadas</h3>
                        <p:separator style="color: #ffffff"/>
                        <p class="text-primary">Lista de Compras</p>
                        <p:dataTable value="#{compraBean.facturas}" var="factura" scrollable="true" scrollHeight="500">
                            <p:column width="7%" headerText="Accion">
                                <div align="center" >
                                    <p:commandButton class="btn btn-primary" 
                                                     action="#{compraBean.verFactura()}"
                                                     icon="ui-icon-wrench" 
                                                     title="Ver"  >
                                        <f:setPropertyActionListener value="#{factura}" target="#{compraBean.factura}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                </div>
                            </p:column>
                            <p:column  headerText="Nro Factura">
                                <div align="center" ><h:outputText value="#{factura.nroFactura}"/></div>
                            </p:column>
                            <p:column  headerText="Descripcion">
                                <div align="center" >
                                    <h:outputText value="#{factura.descripcion}"/>
                                </div>
                            </p:column>
                            <p:column  headerText="Estado">
                                <div align="center" >
                                    <h:outputText rendered="#{factura.estado=='A'}" 
                                                  style="color: #00a65a; font-weight: bold" 
                                                  value="Pagado"/>
                                    <h:outputText rendered="#{factura.estado=='P'}" 
                                                  style="color: #c87f0a; font-weight: bold" 
                                                  value=" Pendiente"/>

                                    <h:outputText  rendered="#{factura.estado=='C'}" 
                                                   style="color: #c7254e; font-weight: bold" 
                                                   value="Anulado"/>

                                </div>
                            </p:column>
                            <p:column   headerText="Fecha">
                                <div align="center" >
                                    <h:outputText  value="#{compraBean.getFormatDate(factura.fecha)}"/>
                                </div>
                            </p:column>
                            <p:column   headerText="importe">
                                <div align="center" >
                                    <p:outputLabel value="#{factura.importe}">
                                        <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                        Gs.
                                    </p:outputLabel>
                                </div>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('factura')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup>

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
