<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Factura</title>
        <style type="text/css">
            .colorstile{
                background: #f4f4f4
            }
            .ui-fileupload-cancel ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only{
                display: none;
            }
            body .ui-selectonemenu {
                vertical-align: middle;
            }

            .label {
                width: 2%;
                padding: 2px;
            }

            .value {
                width: 80%;
                padding: 4px;
            }

            .grid {
                width: 100%;
            }

            .error {
                color: red;
            }

            .outputLabel {
                font-weight: bold;
            }

            .grid {
                width: 33%;
                padding: 4px;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <p:messages id="messages" showDetail="true" >
                </p:messages>
                <h:form id="compaform" style="color: #ffffff" >
                    <h:panelGroup rendered="#{loginBean.tienePermiso('factura')}">
                        <p:panelGrid columns="2"  layout="grid" styleClass="showcase-text-align-center"
                                     columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-0,ui-grid-col-0" >
                            <h:panelGroup >
                                <h:panelGrid columns="1" style="background-color: #eee" >
                                    <h:panelGroup >
                                        <div align="center" >
                                            <h2 style="color:#000 ">Factura</h2>
                                        </div>
                                        <p:panelGrid columns="2" layout="grid">
                                            <h:panelGroup>
                                                <h3>The Fool Tattoo</h3>
                                                <p>Emiliano Gómez Rios/c San Juan XXIII</p>
                                                <p>Asunción Paraguay</p>
                                                <p>Local 312</p>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <span class="logo-mini"><img  height="75%" width="55%" src="#{facesContext.externalContext.requestContextPath}/resources/logo.png" /></span>
                                            </h:panelGroup> 
                                        </p:panelGrid>
                                        <hr />
                                        <p:panelGrid columns="2" layout="grid">
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <strong> N° de factura:  </strong>
                                                    <h:panelGroup>
                                                        <p:spacer width="5" height="5"/><h:outputText value="#{compraBean.factura.nroFactura}"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <strong>  Fecha:  </strong>
                                                    <h:panelGroup>
                                                        <p:spacer width="5" height="5"/><h:outputText  value="#{compraBean.fechaString()}"/>
                                                    </h:panelGroup>

                                                </h:panelGrid>
                                            </h:panelGroup>
                                        </p:panelGrid>
                                        <p:panelGrid columns="2" layout="grid">
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <h:panelGroup>
                                                        <strong> Estado : </strong><p:spacer width="5" height="5"/>
                                                    </h:panelGroup>

                                                    <h:outputText rendered="#{compraBean.factura.estado=='A'}" 
                                                                  style="color: #00a65a; font-weight: bold" 
                                                                  value="Pagado"/>
                                                    <h:outputText rendered="#{compraBean.factura.estado=='P'}" 
                                                                  style="color: #c87f0a; font-weight: bold" 
                                                                  value=" Pendiente"/>

                                                    <h:outputText  rendered="#{compraBean.factura.estado=='C'}" 
                                                                   style="color: #c7254e; font-weight: bold" 
                                                                   value="Anulado"/>
                                                </h:panelGrid>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <strong>  Vence:  </strong>
                                                    <h:panelGroup>
                                                        <p:spacer width="5" height="5"/><h:outputText value="2024-12-31"  />
                                                    </h:panelGroup>

                                                </h:panelGrid>
                                            </h:panelGroup>
                                        </p:panelGrid>

                                        <hr />
                                        <p:panelGrid columns="1" layout="grid">
                                            <h:panelGroup>
                                                <div class="row my-5">
                                                    <table class="table table-borderless factura">
                                                        <thead>
                                                            <tr>
                                                                <th>Cant.</th>
                                                                <th>Descripcion</th>
                                                                <th>Precio Unitario</th>
                                                                <th>Importe</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <p:repeat value="#{compraBean.factura.detalles}" var="detalle">
                                                                <tr>
                                                                    <td>#{detalle.cantidad}</td>
                                                                    <td>#{detalle.producto.descripcion}</td>
                                                                    <td><p:outputLabel value="#{detalle.importe}">
                                                                            <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                            Gs.
                                                                        </p:outputLabel></td>
                                                                    <td><p:outputLabel value="#{detalle.importe*detalle.cantidad}">
                                                                            <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                            Gs.
                                                                        </p:outputLabel></td>
                                                                </tr>
                                                            </p:repeat>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th>Total Factura</th>
                                                                <th><p:outputLabel value="#{compraBean.factura.importe}">
                                                                        <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                        Gs.
                                                                    </p:outputLabel></th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </h:panelGroup>
                                        </p:panelGrid>
                                    </h:panelGroup>
                                </h:panelGrid>

                            </h:panelGroup>
                            <h:panelGroup rendered="#{compraBean.factura.estado== 'A'}">
                                <div align="center" >
                                    <h4 style="color:#000 ">Formas de pago</h4>
                                </div>
                                <p:dataTable id="dtformaA" var="forma" value="#{compraBean.factura.formas}">
                                    <p:column headerText="Importe">
                                        <h:outputText value="#{forma.importe}"/>
                                    </p:column>
                                    <p:column headerText="Forma de pago">
                                        <h:outputText  rendered="#{forma.forma=='E'}" 
                                                       value=" Efectivo"/>
                                        <h:outputText  rendered="#{forma.forma=='C'}" 
                                                       value=" Cheque"/>
                                        <h:outputText  rendered="#{forma.forma=='TD'}" 
                                                       value="Tarjeta Débito"/>
                                        <h:outputText  rendered="#{forma.forma=='TC'}" 
                                                       value="Tarjeta Crédito"/>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{compraBean.factura.estado== 'P'}">
                                <div align="center" >
                                    <h4 style="color:#000 ">Formas de pago</h4>
                                </div>
                                <hr />
                                <h:panelGroup id="pnforma" style="margin-top: 30px ; background-color: #ffffff; color:  #ffffff">
                                    <p:panelGrid columns="2"  layout="grid">
                                        <h:outputText value="Forma de pago"/>
                                        <h:selectOneMenu styleClass="form-control"  value="#{compraBean.formaTipo}">
                                            <f:selectItem  itemLabel="--Seleccione" itemValue="#{null}"/>
                                            <f:selectItem  itemLabel="Efectivo" itemValue="E"/>
                                            <f:selectItem  itemLabel="Cheque" itemValue="C"/>
                                            <f:selectItem  itemLabel="Tarjeta Debito" itemValue="TD"/>
                                            <f:selectItem  itemLabel="Tarjeta Credito" itemValue="TC"/>
                                        </h:selectOneMenu  >
                                        <h:outputText value="Monto:"/>
                                        <p:inputNumber decimalPlaces="0"  value="#{compraBean.monto}" 
                                                       />

                                    </p:panelGrid>
                                    <hr />
                                    <p:panel rendered="#{compraBean.formaMsg!=null}">
                                        <div  class="alert alert-warning" role="alert" >
                                            <a href="#" class="alert-link"></a>#{compraBean.formaMsg}. 
                                        </div>
                                    </p:panel> 
                                    <div align="center" >
                                        <p:commandButton value="Agregar" ajax="true"
                                                         update="dtforma pnforma"
                                                         action="#{compraBean.addForma()}"
                                                         style="background-color: #000;color: #ffffff"
                                                         styleClass="mt-3 ui-button-outlined block">
                                        </p:commandButton>
                                    </div>
                                    <hr />
                                    <p:dataTable id="dtforma" var="forma" value="#{compraBean.formasPago}">
                                        <p:column headerText="Importe">
                                            <p:outputLabel value="#{forma.importe}">
                                                <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                Gs.
                                            </p:outputLabel>
                                        </p:column>
                                        <p:column headerText="Forma de pago">
                                            <h:outputText value="#{forma.formaDescripcion}"/>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:panelGrid>
                        <div align="center"  style="margin-top: 20px">
                            <p:commandButton rendered="#{compraBean.factura.estado== 'P'}" value="Pagar Factura"  
                                             action="#{compraBean.guardarFormaPago()}"
                                             update="compaform"
                                             style="background-color: #00a65a;color: #ffffff"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>
                            <p:commandButton rendered="#{compraBean.factura.estado== 'P' or compraBean.factura.estado== 'A'}" value="Anular Factura"  
                                             action="#{compraBean.anular()}"
                                             update="compaform"
                                             style="background-color: #c80000;color: #ffffff"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>

                            <p:commandButton value="Volver" ajax="true"
                                             action="#{compraBean.cargarFacturas()}"
                                             style="background-color: #eee;color: #000"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>
                        </div>

                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('factura')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
