<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Reserva</title>
        <style type="text/css">
            .colorstile{
                background: #f4f4f4
            }
            .ui-fileupload-cancel ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only{
                display: none;
            }
            body .ui-selectonemenu {
                vertical-align: middle;
            }

            .label {
                width: 2%;
                padding: 2px;
            }

            .value {
                width: 80%;
                padding: 4px;
            }

            .grid {
                width: 100%;
            }

            .error {
                color: red;
            }

            .outputLabel {
                font-weight: bold;
            }

            .grid {
                width: 33%;
                padding: 4px;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <p:messages id="messages" showDetail="true" >
                </p:messages>
                <h:form id="compaform" style="color: #ffffff" >
                    <h:panelGroup rendered="#{loginBean.tienePermiso('servicio')}">
                        <p:panelGrid columns="2"  layout="grid" styleClass="showcase-text-align-center"
                                     columnClasses="ui-grid-col-5,ui-grid-col-6,ui-grid-col-0,ui-grid-col-0" >
                            <h:panelGroup >
                                <h:panelGrid columns="1" style="background-color: #eee" >
                                    <h:panelGroup >
                                        <div align="center" >
                                            <h2 style="color:#000 ">Factura</h2>
                                        </div>
                                        <p:panelGrid columns="2" layout="grid">
                                            <h:panelGroup>
                                                <h3>The Fool Tattoo</h3>
                                                <p>Av. Winston Churchill</p>
                                                <p>Plaza Orleans 3er. nivel</p>
                                                <p>local 312</p>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <span class="logo-mini"><img  height="75%" width="55%" src="#{facesContext.externalContext.requestContextPath}/resources/logo.png" /></span>
                                            </h:panelGroup> 
                                        </p:panelGrid>
                                        <hr />
                                        <p:panelGrid columns="2" layout="grid">
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <strong> N° de factura:  </strong><h:outputText value="#{reservaBean.factura.nroFactura}"/>
                                                </h:panelGrid>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <strong>  Fecha:  </strong><h:outputText  value="#{reservaBean.dateString}" 
                                                                                              />
                                                </h:panelGrid>
                                            </h:panelGroup>
                                        </p:panelGrid>
                                        <p:panelGrid columns="2" layout="grid">
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <h:panelGroup>
                                                        <strong> Estado : </strong><p:spacer width="5" height="5"/>
                                                    </h:panelGroup>

                                                    <h:outputText rendered="#{reservaBean.factura.estado=='A'}" 
                                                                  style="color: #00a65a; font-weight: bold" 
                                                                  value="Pagado"/>
                                                    <h:outputText rendered="#{reservaBean.factura.estado=='P'}" 
                                                                  style="color: #c87f0a; font-weight: bold" 
                                                                  value=" Pendiente"/>

                                                    <h:outputText  rendered="#{reservaBean.factura.estado=='C'}" 
                                                                   style="color: #c7254e; font-weight: bold" 
                                                                   value="Anulado"/>
                                                </h:panelGrid>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <strong>  Fecha de vencimiento:  </strong><h:outputText value="2024-12-31" 
                                                                                                            />
                                                </h:panelGrid>
                                            </h:panelGroup>
                                        </p:panelGrid>
                                        <p:panelGrid columns="2" layout="grid">
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <strong>  Facturar a:  </strong><h:outputText value="#{reservaBean.cliente.nombre.concat(reservaBean.cliente.apellido)}" 
                                                                                                  />
                                                </h:panelGrid>
                                            </h:panelGroup>
                                            <h:panelGroup>
                                                <h:panelGrid columns="2" >
                                                    <strong>Enviar a: </strong><h:outputText value="#{reservaBean.cliente.email}"/>
                                                </h:panelGrid>
                                            </h:panelGroup> 
                                        </p:panelGrid>

                                        <hr />
                                        <p:panelGrid columns="1" layout="grid">
                                            <h:panelGroup>
                                                <div class="row my-5">
                                                    <table class="table table-borderless factura">
                                                        <thead>
                                                            <tr>
                                                                <th>Cant.</th>
                                                                <th>Descripcion</th>
                                                                <th>Precio Unitario</th>
                                                                <th>Importe</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>#{reservaBean.factura.descripcion}</td>
                                                                <td><p:outputLabel value="#{reservaBean.factura.importe}">
                                                                        <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                        Gs.
                                                                    </p:outputLabel></td>
                                                                <td><p:outputLabel value="#{reservaBean.factura.importe}">
                                                                        <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                        Gs.
                                                                    </p:outputLabel></td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th>Total Factura</th>
                                                                <th><p:outputLabel value="#{reservaBean.factura.importe}">
                                                                        <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                        Gs.
                                                                    </p:outputLabel></th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </h:panelGroup>
                                        </p:panelGrid>
                                    </h:panelGroup>
                                </h:panelGrid>

                            </h:panelGroup>
                        </p:panelGrid>

                        <div align="center"  style="margin-top: 20px">
                            <p:commandButton value="Volver" ajax="true"
                                             action="#{reservaBean.loadFacturas()}"
                                             style="background-color: #eee;color: #000"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('factura')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup>


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
