<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Colores</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <div  class="alert alert-info" role="alert" >
                        <p:outputLabel style="color: #000">
                            Bienvenido/a <p:spacer width="5" height="5"/> #{loginBean.usuarioR.persona.nombre}
                            <p:spacer width="5" height="5"/>
                            #{loginBean.usuarioR.persona.apellido}
                        </p:outputLabel><a href="#" class="info"> </a>
                    </div>
                    <h:panelGroup rendered="#{loginBean.reservas!=null}">
                        <div align="center">
                            <p class="text-primary">Lista de reservas pendientes asignadas a usted.</p>
                            <p:dataTable value="#{loginBean.reservas}" var="reserva" scrollable="true" scrollHeight="500">
                                <p:column width="7%" headerText="Código">
                                    <div align="center" >
                                        <h:outputText value="#{reserva.id}"/>
                                    </div>
                                </p:column>
                                <p:column   headerText="Cliente">
                                    <div align="center" >
                                        <h:outputText value="#{reserva.cliente.nombre.concat(' '.concat(reserva.cliente.apellido))}"/>
                                    </div>
                                </p:column>
                                <p:column  headerText="Fecha">
                                    <div align="center" >
                                        <h:outputText value="#{reserva.fecha.concat(' ')}"/>
                                    </div>
                                </p:column>
                                <p:column  headerText="Estado">
                                    <div align="center" >
                                        <h:outputText  rendered="#{reserva.estado==1}" 
                                                       style="color: #e08e0b;width: 50%" 
                                                       value="Pendiente">Pendiente</h:outputText>
                                        <h:outputText  rendered="#{reserva.estado==2}" 
                                                       style="color: #00cc00;width: 50%" 
                                                       value="Señado"/>
                                        <h:outputText  rendered="#{reserva.estado==4}" 
                                                       style="color: #00a7d0;width: 50%"
                                                       value="En proceso"/>
                                        <h:outputText  rendered="#{reserva.estado==5}" 
                                                       style="color: #ff3333;width: 50%"
                                                       value="Cancelado"/>
                                        <h:outputText  rendered="#{reserva.estado==3}" 
                                                       style="color: #00cc00;width: 50%" 
                                                       value="Finalizado"/> 
                                    </div>
                                </p:column>
                            </p:dataTable>
                            <br></br>
                        </div>
                    </h:panelGroup> 
                    <h:panelGroup rendered="#{loginBean.reservas==null}">
                        <span class="logo-mini"><img  height="100%" width="100%"
                                                      src="#{facesContext.externalContext.requestContextPath}/resources/home.avif" /></span>

                    </h:panelGroup>

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
