<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Permisos</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('seguridad')}">
                        <h3>Permisos</h3>
                        <p:separator style="color: #ffffff"/>
                        <p class="text-primary">Lista de Permisos</p>
                        <p:dataTable value="#{permisoView.permisoes}" var="permiso"
                                     rows="5" editable="true" 
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     emptyMessage="No hay registros"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Accion">
                                <div align="center" >
                                    <p:commandButton class="btn btn-default"  
                                                     oncomplete="$('#myModal').modal('show');" 
                                                     immediate="true"
                                                     action="#{permisoView.edit()}"
                                                     icon="ui-icon-pencil" 
                                                     title="Editar"  >
                                        <f:setPropertyActionListener value="#{permiso}" target="#{permisoView.permiso}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                    <p:commandButton class="btn btn-default"  
                                                     action="#{permisoView.delete()}"
                                                     icon="ui-icon-trash" 
                                                     title="Eliminar"  >
                                        <f:setPropertyActionListener value="#{permiso}" target="#{permisoView.permiso}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                </div>
                            </p:column>
                            <p:column headerText="# ">
                                <h:outputText value="#{permiso.idPermiso}"/>
                            </p:column>
                            <p:column headerText="Permiso">
                                <h:outputText value="#{permiso.tipoPermiso==1? 'Carga' : permiso.tipoPermiso==2 ? 'Modificacion' : 'Eliminacion'}"/>
                            </p:column>
                            <p:column headerText="Modulo">
                                <h:outputText value="#{permiso.AModuloIdModulo.nombreModulo}"/>
                            </p:column>
                        </p:dataTable>
                        <br></br>
                        <p:commandButton class="btn btn-primary"   
                                         action="#{permisoView.clear()}"
                                         oncomplete="$('#myModal').modal('show');" 
                                         immediate="true"
                                         value="Agregar permiso">
                        </p:commandButton>
                </h:form>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog" >
                    <div class="modal-dialog">
                        <h:form id="from2">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"></button>
                                    <h4 class="modal-title">Registro de permisos</h4>
                                </div>
                                <div class="modal-body">
                                    <p:panelGrid columns="2"  layout="grid" styleClass="ui-noborder ui-panelGrid-black">
                                        <p:outputLabel  value="Tipo de permiso : " />
                                        <h:selectOneMenu styleClass="form-control"  id="console1"  value="#{permisoView.permiso.tipoPermiso}">
                                            <f:selectItem itemLabel="--Seleccionar--" itemValue=""/>
                                            <f:selectItem itemLabel="Carga" itemValue="1" />
                                            <f:selectItem itemLabel="Modificacion" itemValue="2" />
                                            <f:selectItem itemLabel="Eliminacion" itemValue="3" />
                                        </h:selectOneMenu>
                                        <p:outputLabel  value="Modulo : " />
                                        <h:selectOneMenu styleClass="form-control"  id="consoleeee" value="#{permisoView.moduloSelected}" >
                                            <f:selectItem itemLabel="--Seleccionar--" itemValue="" />
                                            <f:selectItems itemLabel="#{modulo.nombreModulo}" itemValue="#{modulo.idModulo}" var="modulo" value="#{permisoView.modulos}"/>
                                        </h:selectOneMenu>
                                        <p:outputLabel  value="Observacion : " />
                                        <p:inputText value="#{permisoView.permiso.observacion}"></p:inputText>
                                        <br></br>
                                    </p:panelGrid>

                                    <div  class="modal-footer">
                                        <div align="center" >
                                            <h:panelGrid   columns="2" >
                                                <h:commandButton  class="btn btn-primary" value="Guardar"
                                                                  action="#{permisoView.save()}"  >
                                                </h:commandButton>
                                            </h:panelGrid>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!loginBean.tienePermiso('seguridad')}">
                                <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                            </h:panelGroup> 

                        </h:form>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
