<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Simulador</title>
        <style type="text/css">
            .ui-selectonemenu{
                display: flex !important;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1" style="color: #ffffff">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('compra')}">
                        <p:messages id="messages" showDetail="true" closable="true">
                            <p:autoUpdate/>
                        </p:messages>

                        <p:tabView>

                            <p:tab title="Producto">
                                <p:panelGrid  columns="2" layout="grid">
                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel>Descripcion:</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{productoBean.producto.descripcion}">
                                            <p:ajax />
                                        </p:inputText >

                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Stock minimo :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputNumber disabled="#{productoBean.editar}" value="#{productoBean.producto.stockMinimo}"> <p:ajax /></p:inputNumber >
                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Precio unitario :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{productoBean.producto.precioUnitario}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Medida :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{productoBean.producto.medida}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Precio compra :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{productoBean.producto.precioCompra}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Unidad medida :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{productoBean.producto.unidadMedida}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>
                                    <h:panelGrid  columns="1"  >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel>Marca :</p:outputLabel>
                                        </h:panelGrid>
                                        <h:selectOneMenu styleClass="form-control"  value="#{productoBean.idMarca}"
                                                         >
                                            <f:selectItem  itemLabel="--Seleccione"
                                                           itemValue="#{null}"/>
                                            <f:selectItems value="#{productoBean.marcas}" var="marca" 
                                                           itemLabel="#{marca.descripcion}"
                                                           itemValue="#{marca.id}"/>
                                        </h:selectOneMenu  >
                                    </h:panelGrid>
                                    <h:panelGrid  columns="1"  >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel>Color :</p:outputLabel>
                                        </h:panelGrid>
                                        <h:selectOneMenu styleClass="form-control"  value="#{productoBean.idColor}"
                                                         >
                                            <f:selectItem  itemLabel="--Seleccione"
                                                           itemValue="#{null}"/>
                                            <f:selectItems value="#{productoBean.colores}" var="color" 
                                                           itemLabel="#{color.descripcion}"
                                                           itemValue="#{color.id}"/>
                                        </h:selectOneMenu  >
                                    </h:panelGrid>
                                    <h:panelGrid  columns="1"  >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   
                                            <p:outputLabel>Categoria :</p:outputLabel>
                                        </h:panelGrid>
                                        <h:selectOneMenu styleClass="form-control"  value="#{productoBean.idCategoria}"
                                                         >
                                            <f:selectItem  itemLabel="--Seleccione"
                                                           itemValue="#{null}"/>
                                            <f:selectItems value="#{productoBean.categorias}" var="categoria" 
                                                           itemLabel="#{categoria.descripcion}"
                                                           itemValue="#{categoria.idCategoria}"/>
                                        </h:selectOneMenu  >
                                    </h:panelGrid>
                                </p:panelGrid>
                            </p:tab>
                        </p:tabView>
                        <p:separator></p:separator>
                        <div align="center">
                            <p:commandButton value="Volver" ajax="true" 
                                             style="background-color: #d5d5d5;color: #000"
                                             action="producto.xhtml" 
                                             styleClass="mt-3 ui-button-outlined block">
                                <p:ajax event="click" />
                            </p:commandButton>
                            <p:commandButton value="Guardar"   action="#{productoBean.save()}"
                                             style="background-color: #000;color: #ffffff"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('compra')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
