<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Proveedor</title>
        <style type="text/css">
            .ui-selectonemenu{
                display: flex !important;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1" style="color: #ffffff">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('compra')}">
                        <p:messages id="messages" showDetail="true" closable="true">
                            <p:autoUpdate/>
                        </p:messages>

                        <p:tabView>

                            <p:tab title="Proveedor">
                                <p:panelGrid  columns="2" layout="grid">
                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel> 
                                            <p:outputLabel>Nombre</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{proveedorBean.persona.nombre}">
                                            <p:ajax />
                                        </p:inputText >

                                    </h:panelGrid>
                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Apellido :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{proveedorBean.persona.apellido}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Direccion :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{proveedorBean.persona.direccion}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Telefono :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{proveedorBean.persona.telefono}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Ruc :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{proveedorBean.persona.ruc}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>

                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Email :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputText value="#{proveedorBean.persona.email}"> <p:ajax /></p:inputText >
                                    </h:panelGrid>

                                </p:panelGrid>

                                <p:panelGrid  columns="2" layout="grid"  >


                                    <p:dataTable value="#{proveedorBean.categorias}" var="cat" 
                                                 rowKey="#{cat.idCategoria}"
                                                 scrollable="true" scrollHeight="250">
                                        <p:column headerText="Descripcion" >
                                            <p:outputLabel value="#{cat.descripcion}"></p:outputLabel>
                                        </p:column>
                                        <p:column headerText="Opción" style="width: 40%">
                                            <p:commandButton ajax="true" icon="fa fa-plus-square">
                                                <p:ajax update="from1" listener="#{proveedorBean.addCategoria(cat)}"/>
                                            </p:commandButton>
                                        </p:column>
                                    </p:dataTable>

                                    <p:dataTable value="#{proveedorBean.categoriasSeleccionadas}" var="cat" rowKey="#{cat.idCategoria}"
                                                 scrollable="true" scrollHeight="250">
                                        <p:column headerText="Opción" style="width: 40%">
                                            <p:commandButton ajax="true" icon="fa fa-window-close">
                                                <p:ajax update="from1" listener="#{proveedorBean.eliminarCategoria(cat)}"/>
                                            </p:commandButton>
                                        </p:column>
                                        <p:column headerText="Descripcion">
                                            <p:outputLabel value="#{cat.descripcion}"></p:outputLabel>
                                        </p:column>
                                    </p:dataTable>

                                </p:panelGrid>
                            </p:tab>
                        </p:tabView>
                        <p:separator></p:separator>
                        <div align="center">
                            <p:commandButton value="Volver" ajax="true" 
                                             style="background-color: #d5d5d5;color: #000"
                                             action="proveedor.xhtml" 
                                             styleClass="mt-3 ui-button-outlined block">
                                <p:ajax event="click" />
                            </p:commandButton>
                            <p:commandButton value="Guardar"   action="#{proveedorBean.save()}"
                                             style="background-color: #000;color: #ffffff"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('compra')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
