<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Reserva</title>
        <style type="text/css">
            .colorstile{
                background: #f4f4f4
            }
            .ui-fileupload-cancel ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only{
                display: none;
            }
            body .ui-selectonemenu {
                vertical-align: middle;
            }

            .label {
                width: 2%;
                padding: 2px;
            }

            .value {
                width: 80%;
                padding: 4px;
            }

            .grid {
                width: 100%;
            }

            .error {
                color: red;
            }

            .outputLabel {
                font-weight: bold;
            }

            .grid {
                width: 33%;
                padding: 4px;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <p:messages id="messages" showDetail="true" >
                </p:messages>
                <h:form id="simuladorForm" style="color: #ffffff" enctype="multipart/form-data">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('servicio')}">
                        <p:outputLabel style="color: #000" > Imagen de referencia :</p:outputLabel>
                        <p:outputPanel   id="cropperPanel">
                            <h:panelGrid columns="2" cellpadding="7">
                                <p:graphicImage cache="false" width="300px" height="150px"
                                                value="#{reservaBean.getImage2()}"/>
                            </h:panelGrid>
                        </p:outputPanel>
                        <p:panel  style="background-color: #f9f9f9">
                            <p:panelGrid columns="2" layout="grid">
                                <p:outputLabel value=" Fecha : "></p:outputLabel>
                                <p:calendar  value="#{reservaBean.fecha}">
                                    <p:ajax  event="dateSelect" />
                                </p:calendar>

                                <p:outputLabel value=" Hora inicio : "></p:outputLabel>
                                <p:datePicker maxlength="6"  showTime="true"  value="#{reservaBean.horaDesde}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                                <p:outputLabel value=" Hora fin estimada : "></p:outputLabel>
                                <p:datePicker maxlength="6"  showTime="true"  value="#{reservaBean.horaHasta}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                                <p:outputLabel value=" Costo Total: "></p:outputLabel>
                                <p:inputNumber decimalPlaces="0" value="#{reservaBean.presupuesto.monto}"></p:inputNumber>


                            </p:panelGrid>
                            <p:panelGrid columns="2"  layout="grid">
                                <h:panelGroup>
                                    <p:panel style="background-color: #f9f9f9" header="Cliente Seleccionado"  >
                                        <p:panelGrid columns="2"  layout="grid">
                                            <h:outputText value="Nombre:"/>
                                            <h:inputText disabled="true" required="true" requiredMessage="Selecione el cliente."
                                                         value="#{reservaBean.cliente.nombre.concat(reservaBean.cliente.apellido)}" 
                                                         />
                                            <h:outputText value="Ruc/Nro Cedula"/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.ruc}" />

                                            <h:outputText value="Email: "/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.email}"/>
                                        </p:panelGrid>
                                    </p:panel>
                                </h:panelGroup>
                            </p:panelGrid>

                            <p:panel rendered="#{reservaBean.mostrarMsg}">
                                <div  class="alert alert-warning" role="alert" >
                                    #{reservaBean.warningProcesar}<a href="#" class="alert-link"></a>.
                                </div>
                            </p:panel>
                            <div align="center"  style="margin-top: 20px">
                                <p:commandButton value="Volver" ajax="true" 
                                                 action="#{reservaBean.volver()}"
                                                 style="background-color: #d2d6de;color: #000"
                                                 styleClass="mt-3 ui-button-outlined block">
                                </p:commandButton>
                                <p:commandButton value="Finalizar" ajax="true" rendered="#{reservaBean.finalizar}"
                                                 style="background-color: #00a65a;color: #ffffff"
                                                 action="#{reservaBean.finalizarUpdate()}"
                                                 styleClass="mt-3 ui-button-outlined block">
                                </p:commandButton>
                                <p:commandButton value="Procesar" ajax="true" rendered="#{reservaBean.procesar}"
                                                 style="background-color: #0073b7;color: #ffffff"
                                                 action="#{reservaBean.procesarUpdate()}"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax update="simuladorForm" />
                                </p:commandButton><!-- comment -->
                                <p:commandButton value="Cancelar" ajax="true" rendered="#{reservaBean.cancelar}"
                                                 style="background-color: #c80000;color: #ffffff"
                                                 action="#{reservaBean.cancelarUpdate()}"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax update="simuladorForm" />
                                </p:commandButton>
                            </div>

                        </p:panel>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('servicio')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup>

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
