<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Reserva</title>
        <style type="text/css">
            body .ui-selectonemenu {
                vertical-align: middle;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="reservaForm"  >
                    <h:panelGroup rendered="#{loginBean.tienePermiso('servicio')}">
                        <h3>Reservas</h3>
                        <p:separator style="color: #ffffff"/>
                        <p class="text-primary">Lista de Reservas</p>
                        <p:dataTable value="#{reservaBean.reservas}" var="reserva" scrollable="true" scrollHeight="500">
                            <p:column  headerText="Accion">
                                <p:commandButton action="#{reservaBean.verVer()}"
                                                 icon="ui-icon-search" 
                                                 title="Ver detalles"  >
                                    <f:setPropertyActionListener value="#{reserva}" target="#{reservaBean.reserva}" ></f:setPropertyActionListener >
                                </p:commandButton>
                                <p:commandButton action="#{reservaBean.verprocesar}"
                                                 icon="ui-icon-play" disabled="#{reserva.estado!=1}"
                                                 style="background: #00a7d0; color: #ffffff"
                                                 title="Procesar "  >
                                    <f:setPropertyActionListener value="#{reserva}" target="#{reservaBean.reserva}" ></f:setPropertyActionListener >
                                </p:commandButton>
                                <p:commandButton action="#{reservaBean.verFinaliza()}"
                                                 style="background: #00e765; color: #ffffff"
                                                 disabled="#{reserva.estado!=4}"
                                                 icon="ui-icon-check" 
                                                 title="Finalizar "  >
                                    <f:setPropertyActionListener value="#{reserva}" target="#{reservaBean.reserva}" ></f:setPropertyActionListener >
                                </p:commandButton>
                                <p:commandButton action="#{reservaBean.verCancelar()}"
                                                 icon="ui-icon-cancel" disabled="#{reserva.estado==4 or reserva.estado==5 or reserva.estado==3}"
                                                 style="background: #ff3333; color: #ffffff"
                                                 title="Cancelar"  >
                                    <f:setPropertyActionListener value="#{reserva}" target="#{reservaBean.reserva}" ></f:setPropertyActionListener >
                                </p:commandButton>

                            </p:column>
                            <p:column width="7%" headerText="Código">
                                <div align="center" >
                                    <h:outputText value="#{reserva.id}"/>
                                </div>
                            </p:column>
                            <p:column   headerText="Cliente">
                                <div align="center" >
                                    <h:outputText value="#{reserva.cliente.nombre.concat(' '.concat(reserva.cliente.apellido))}"/>
                                </div>
                            </p:column>
                            <p:column  headerText="Tatuador Asignado">
                                <div align="center" >
                                    <h:outputText value="#{reserva.tatuador.nombre.concat(' '.concat(reserva.tatuador.apellido))}"/>
                                </div>
                            </p:column>
                            <p:column  headerText="Fecha">
                                <div align="center" >
                                    <h:outputText value="#{reserva.fecha.concat(' ')}"/>
                                    <b>
                                        de:
                                    </b>
                                    <h:outputText value="#{' '.concat(reserva.horaDesde.substring(11))}"/>
                                    <b>
                                        hasta:
                                    </b>
                                    <h:outputText value="#{ ' '.concat(reserva.horaHasta.substring(11))}"/>
                                </div>
                            </p:column>
                            <p:column  headerText="Estado">
                                <div align="center" >
                                    <h:outputText  rendered="#{reserva.estado==1}" 
                                                   style="color: #e08e0b;width: 50%" 
                                                   value="Pendiente">Pendiente</h:outputText>
                                    <h:outputText  rendered="#{reserva.estado==2}" 
                                                   style="color: #00cc00;width: 50%" 
                                                   value="Señado"/>
                                    <h:outputText  rendered="#{reserva.estado==4}" 
                                                   style="color: #00a7d0;width: 50%"
                                                   value="En proceso"/>
                                    <h:outputText  rendered="#{reserva.estado==5}" 
                                                   style="color: #ff3333;width: 50%"
                                                   value="Cancelado"/>
                                    <h:outputText  rendered="#{reserva.estado==3}" 
                                                   style="color: #00cc00;width: 50%" 
                                                   value="Finalizado"/> 
                                </div>
                            </p:column>
                        </p:dataTable>
                        <br></br>

                        <h:commandButton class="btn btn-primary"   
                                         action="#{reservaBean.add()}"
                                         value="Agregar">
                        </h:commandButton>
                        <div align="right" >
                            <p:panelGrid columns="4" style="border: #00a7d0" >
                                <h:panelGroup>
                                    <h:panelGrid columns="1">
                                        <p:commandButton icon="ui-icon-pencil" disabled="true"
                                                         style="width: 15px; height:20px;background: #ff3333; color: #ffffff" >
                                        </p:commandButton>
                                        <h:outputText value="Cancelar" style="font-size: 10px" ></h:outputText>
                                    </h:panelGrid>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <h:panelGrid columns="1">
                                        <p:commandButton icon="ui-icon-search" disabled="true"
                                                         style="width: 15px; height:20px;"
                                                         >
                                        </p:commandButton>
                                        <h:outputText value="Ver" style="font-size: 10px" ></h:outputText>
                                    </h:panelGrid>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <h:panelGrid columns="1">
                                        <p:commandButton icon="ui-icon-play" disabled="true"
                                                         style="width: 15px; height:20px;background: #00a7d0; color: #ffffff" >
                                        </p:commandButton>
                                        <h:outputText value="Procesar" style="font-size: 10px" ></h:outputText>
                                    </h:panelGrid>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <h:panelGrid columns="1">
                                        <p:commandButton icon="ui-icon-check" disabled="true"
                                                         style="width: 15px; height:20px;background: #00e765; color: #ffffff" >
                                        </p:commandButton>
                                        <h:outputText value="Finalizar" style="font-size: 10px" ></h:outputText>
                                    </h:panelGrid>
                                </h:panelGroup>
                            </p:panelGrid>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('servicio')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup>

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
