<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Reserva</title>
        <style type="text/css">
            .colorstile{
                background: #f4f4f4
            }
            .ui-fileupload-cancel ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only{
                display: none;
            }
            body .ui-selectonemenu {
                vertical-align: middle;
            }

            .label {
                width: 2%;
                padding: 2px;
            }

            .value {
                width: 80%;
                padding: 4px;
            }

            .grid {
                width: 100%;
            }

            .error {
                color: red;
            }

            .outputLabel {
                font-weight: bold;
            }

            .grid {
                width: 33%;
                padding: 4px;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <p:messages id="messages" showDetail="true" >
                </p:messages>
                <h:form id="simuladorForm" style="color: #ffffff" enctype="multipart/form-data">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('servicio')}">
                        <p:panel rendered="#{reservaBean.paneles==0}"  style="background-color: #f9f9f9" header="Presupuesto" >

                            <p:panel rendered="#{reservaBean.mostrarMensaje}">
                                <div  class="alert alert-warning" role="alert" >
                                    Atención <a href="#" class="alert-link">  favor verifique los campos requeridos</a>
                                </div>
                            </p:panel>

                            <p:panelGrid  columns="1" layout="grid">
                                <h:panelGrid columns="2" >
                                    <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel>Imagen de referencia :</p:outputLabel>
                                </h:panelGrid>

                                <p:accordionPanel  >
                                    <p:tab title="Subir" >
                                        <p:fileUpload auto="true" update="simuladorForm" 
                                                      listener="#{reservaBean.upLoad2}">
                                        </p:fileUpload>

                                    </p:tab>
                                    <p:tab title="Ver imagen" >
                                        <p:outputPanel id="cropperPanel">
                                            <h:panelGrid columns="2" cellpadding="7">
                                                <p:graphicImage cache="false" width="600px" height="300px"
                                                                value="#{reservaBean.getImage2()}"/>
                                            </h:panelGrid>
                                        </p:outputPanel>
                                    </p:tab>

                                </p:accordionPanel>

                            </p:panelGrid>
                            <p:separator></p:separator>
                            <p:panelGrid  columns="3" layout="grid">
                                <h:panelGrid>
                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel>Alto (cm) :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputNumber minValue="0" value="#{reservaBean.presupuesto.alto}">
                                            <p:ajax />
                                        </p:inputNumber >

                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGroup>
                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Largo (cm) :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputNumber minValue="0" value="#{reservaBean.presupuesto.largo}"> <p:ajax /></p:inputNumber >
                                    </h:panelGrid>
                                </h:panelGroup>
                                <p:panelGrid  columns="1" layout="grid">
                                    <h:panelGrid columns="2" >
                                        <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   
                                        <p:outputLabel>Zona a tatuar :</p:outputLabel>
                                    </h:panelGrid>
                                    <h:selectOneMenu styleClass="form-control"   value="#{reservaBean.zonaSeleccionada}"
                                                     >
                                        <f:selectItem  itemLabel="--Seleccione"
                                                       itemValue="#{null}"/>
                                        <f:selectItems value="#{reservaBean.zonas}" var="zona" 
                                                       itemLabel="#{zona.descripcion}"
                                                       itemValue="#{zona.id}"/>
                                        <p:ajax event="change" />
                                    </h:selectOneMenu  >
                                </p:panelGrid>
                            </p:panelGrid>

                            <p:separator></p:separator>

                            <h:panelGrid  border="1"  style="border-color: #adadad">
                                <p:panelGrid id="panelTabla"  columns="2" 
                                             layout="grid">
                                    <h:panelGroup>
                                        <p style="color:#007bb6; "><b>Colores disponibles</b> </p>
                                        <p:dataTable value="#{reservaBean.colors}" var="color" rowKey="#{color.idProducto}"
                                                     emptyMessage="No se encontraron registros."
                                                     scrollable="true" scrollHeight="170">
                                            <p:column headerText="Color" >
                                                <p:outputLabel value="#{color.descripcion}"></p:outputLabel>
                                            </p:column>
                                            <p:column headerText="Opción" style="width: 40%">
                                                <p:commandButton ajax="true" style="font-size:12px"
                                                                 value="Agregar">
                                                    <p:ajax update="simuladorForm" listener="#{reservaBean.addColor(color)}"/>
                                                </p:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p style="color:#007bb6; "><b><p:outputLabel style="color: #f71752">(*)</p:outputLabel>Colores seleccionados</b> </p>
                                        <p:dataTable value="#{reservaBean.coloresSeleccionados}" var="color"
                                                     emptyMessage="No se encontraron registros."
                                                     rowKey="#{color.idProducto}"
                                                     scrollable="true" scrollHeight="170">
                                            <p:column headerText="Opción" style="width: 40%">
                                                <p:commandButton ajax="true" value="Eliminar" style="font-size:12px" >
                                                    <p:ajax update="simuladorForm" listener="#{reservaBean.eliminarColor(color)}"/>
                                                </p:commandButton>
                                            </p:column>
                                            <p:column headerText="Color">
                                                <p:outputLabel value="#{color.descripcion}"></p:outputLabel>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </h:panelGrid>



                            <div align="center"  style="margin-top: 20px">
                                <p:commandButton value="Generar presupuesto" ajax="true"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.calcularPresupuesto()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                            <p:panelGrid style="margin-top: 20px"  id="panelPresu" rendered="#{reservaBean.verBloqueGenerar}" columns="2" layout="grid">
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid  columns="1" >
                                            <p:outputLabel value=" Cantidad estimada (hs) : "></p:outputLabel>
                                            <p:spinner disabled="true" min="0" value="#{reservaBean.presupuesto.cantHoras}"></p:spinner >
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid  columns="1" >
                                            <p:outputLabel value=" Costo por hora : "></p:outputLabel>
                                            <p:spinner disabled="true" min="0" value="#{reservaBean.presupuesto.costoHora}"></p:spinner >
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid  columns="1" >
                                            <p:outputLabel value=" Costo de seña : "></p:outputLabel>
                                            <p:spinner disabled="true" min="0" value="#{reservaBean.presupuesto.sena}"></p:spinner >
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid  columns="1" >
                                            <p:outputLabel value=" Costo total : "></p:outputLabel>
                                            <p:spinner disabled="true" min="0" value="#{reservaBean.presupuesto.total}"></p:spinner >
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </p:panelGrid>
                            <div align="rigth"  style="margin-top: 20px">
                                <p:commandButton value="Siguiente" ajax="true"
                                                 rendered="#{reservaBean.verBloqueGenerar}"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.siguientePanel()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                        </p:panel>
                        <p:panel  rendered="#{reservaBean.paneles==1}"  style="background-color: #f9f9f9" header="Datos de Reserva" >
                            <p:panelGrid columns="4" layout="grid">
                                <p:outputLabel value=" Fecha : "></p:outputLabel>
                                <p:calendar pattern="yyyy/MM/dd" value="#{reservaBean.fecha}">
                                    <p:ajax  event="dateSelect" />
                                </p:calendar>

                                <p:outputLabel value=" Hora inicio : "></p:outputLabel>
                                <p:datePicker maxlength="6" id="timeonly" showTime="true"  value="#{reservaBean.horaDesde}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                                <p:outputLabel value=" Hora fin estimada : "></p:outputLabel>
                                <p:datePicker maxlength="6" id="timeonlys" showTime="true"  value="#{reservaBean.horaHasta}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                            </p:panelGrid>

                            <div align="center"  style="margin-top: 20px">
                                <p:commandButton value="Verificar disponibilidad" ajax="true"  style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.verificarDisponibilidad()}" 
                                            update="simuladorForm"/>
                                </p:commandButton>
                            </div>

                            <p:panel rendered="#{reservaBean.fechadesdeMayorhasta}">
                                <div  class="alert alert-warning" role="alert" >
                                    Verifique los horarios ingresados <a href="#" class="alert-link"> Hora desde no puede ser mayor a hora hasta.</a>. 
                                </div>
                            </p:panel> 
                            <p:panel rendered="#{reservaBean.fechaMenoraHoy}">
                                <div  class="alert alert-warning" role="alert" >
                                    La fecha de servicio ingresada <a href="#" class="alert-link"> no puede ser menor a la fecha actual.</a>. 
                                </div>
                            </p:panel> 

                            <p:panel rendered="#{reservaBean.esferiado}">
                                <div  class="alert alert-warning" role="alert" >
                                    Seleccione otra fecha ya que la fecha seleccionada es <a href="#" class="alert-link"> es feriado.</a>. 
                                </div>
                            </p:panel> 
                            <p:panel rendered="#{reservaBean.fuerahorario}">
                                <div  class="alert alert-warning" role="alert" >
                                    Horarios disponibles : de 08:00 a 12:00 y 13:00 a 18:00 <a href="#" class="alert-link"> favor verifique</a>. 
                                </div>
                            </p:panel> 
                            <p:panel rendered="#{reservaBean.estaDisponible==1}">
                                <div  class="alert alert-warning" role="alert" >
                                    No existen lugares disponibles <a href="#" class="alert-link"> elija otro rango de horario</a>. Vuelva a intentarlo.
                                </div>
                            </p:panel>
                            <p:panel rendered="#{reservaBean.findesemana}">
                                <div  class="alert alert-warning" role="alert" >
                                    No se puede realizar la reserva <a href="#" class="alert-link"> fines de semana. </a>
                                </div>
                            </p:panel>

                            <p:panel rendered="#{reservaBean.estaDisponible==3}">
                                <div  class="alert alert-success" role="alert" >
                                    Existen lugares disponibles <a href="#" class="alert-link"> </a>. 
                                </div>
                            </p:panel>

                            <div align="rigth"  style="margin-top: 20px">
                                <p:commandButton value="Siguiente" ajax="true"
                                                 rendered="#{reservaBean.estaDisponible==3 and  !reservaBean.fechadesdeMayorhasta}"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.siguientePanel()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>

                        </p:panel>
                        <p:panel  rendered="#{reservaBean.paneles==2}" style="background-color: #f9f9f9" header="Datos del cliente"  >
                            <p:panelGrid columns="2" id="pnCliente" layout="grid">
                                <p:panel style="background-color: #f9f9f9" header="Listado de Clientes"  >
                                    <p:dataTable value="#{reservaBean.clientes}" var="cliente"
                                                 scrollable="true" scrollHeight="350">
                                        <p:column width="10%" headerText="# ">
                                            <div align="center" ><h:outputText value="#{cliente.idPersona}"/></div>
                                        </p:column>
                                        <p:column width="40%" headerText="Cliente">
                                            <div align="center" >
                                                <h:outputText value="#{cliente.nombre.concat(' ').concat(cliente.apellido)}"/>
                                            </div>
                                        </p:column>
                                        <p:column width="40%" headerText="Ruc">
                                            <div align="center" >
                                                <h:outputText value="#{cliente.ruc}"/>
                                            </div>
                                        </p:column>
                                        <p:column width="40%" headerText="Email">
                                            <div align="center" >
                                                <h:outputText value="#{cliente.email}"/>
                                            </div>
                                        </p:column>
                                        <p:column width="40%" headerText="Opción">
                                            <div align="center" >
                                                <p:commandButton ajax="true"
                                                                 value="Seleccionar">
                                                    <p:ajax update="simuladorForm"
                                                            listener="#{reservaBean.seleccionarCliente(cliente)}"  />
                                                </p:commandButton>
                                            </div>
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                                <h:panelGroup>
                                    <p:panel style="background-color: #f9f9f9" header="Cliente Seleccionado"  >
                                        <p:panelGrid columns="2"  layout="grid">
                                            <h:outputText value="Nombre:"/>
                                            <h:inputText disabled="true" required="true" requiredMessage="Selecione el cliente."
                                                         value="#{reservaBean.cliente.nombre.concat(reservaBean.cliente.apellido)}" 
                                                         />
                                            <h:outputText value="Ruc/Nro Cedula"/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.ruc}" />

                                            <h:outputText value="Email: "/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.email}"/>
                                        </p:panelGrid>
                                    </p:panel>
                                </h:panelGroup>
                            </p:panelGrid>
                            <div align="rigth"  style="margin-top: 20px">
                                <p:commandButton value="Siguiente" ajax="true"
                                                 rendered="#{reservaBean.cliente!=null}"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.siguientePanel()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                        </p:panel>

                        <p:panel  rendered="#{reservaBean.paneles==3}" style="background-color: #f9f9f9" header="Resumen"  >
                            <p:panelGrid columns="4" layout="grid">
                                <p:outputLabel value=" Fecha : "></p:outputLabel>
                                <p:calendar  value="#{reservaBean.fecha}">
                                    <p:ajax  event="dateSelect" />
                                </p:calendar>

                                <p:outputLabel value=" Hora inicio : "></p:outputLabel>
                                <p:datePicker maxlength="6"  showTime="true"  value="#{reservaBean.horaDesde}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                                <p:outputLabel value=" Hora fin estimada : "></p:outputLabel>
                                <p:datePicker maxlength="6"  showTime="true"  value="#{reservaBean.horaHasta}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                            </p:panelGrid>
                            <p:panelGrid columns="2"  layout="grid">


                                <p:panelGrid style="margin-top: 20px" rendered="#{reservaBean.verBloqueGenerar}" columns="2" layout="grid">
                                    <p:panelGrid columns="2" layout="grid">
                                        <h:panelGroup>
                                            <h:panelGrid  columns="1" >
                                                <p:outputLabel value=" Cantidad estimada (hs) : "></p:outputLabel>
                                                <p:spinner disabled="true" min="0" value="#{reservaBean.presupuesto.cantHoras}"></p:spinner >
                                            </h:panelGrid>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                    <p:panelGrid columns="2" layout="grid">
                                        <h:panelGroup>
                                            <h:panelGrid  columns="1" >
                                                <p:outputLabel value=" Costo por hora : "></p:outputLabel>
                                                <p:spinner disabled="true" min="0" value="#{reservaBean.presupuesto.costoHora}"></p:spinner >
                                            </h:panelGrid>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                    <p:panelGrid columns="2" layout="grid">
                                        <h:panelGroup>
                                            <h:panelGrid  columns="1" >
                                                <p:outputLabel value=" Costo de seña : "></p:outputLabel>
                                                <p:spinner disabled="true" min="0" value="#{reservaBean.presupuesto.sena}"></p:spinner >
                                            </h:panelGrid>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                    <p:panelGrid columns="2" layout="grid">
                                        <h:panelGroup>
                                            <h:panelGrid  columns="1" >
                                                <p:outputLabel value=" Costo total : "></p:outputLabel>
                                                <p:spinner disabled="true" min="0" value="#{reservaBean.presupuesto.total}"></p:spinner >
                                            </h:panelGrid>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                </p:panelGrid>
                                <h:panelGroup>
                                    <p:panel style="background-color: #f9f9f9" header="Cliente Seleccionado"  >
                                        <p:panelGrid columns="2"  layout="grid">
                                            <h:outputText value="Nombre:"/>
                                            <h:inputText disabled="true" required="true" requiredMessage="Selecione el cliente."
                                                         value="#{reservaBean.cliente.nombre.concat(reservaBean.cliente.apellido)}" 
                                                         />
                                            <h:outputText value="Ruc/Nro Cedula"/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.ruc}" />

                                            <h:outputText value="Email: "/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.email}"/>
                                        </p:panelGrid>
                                    </p:panel>
                                </h:panelGroup>
                            </p:panelGrid>
                            <div align="rigth"  style="margin-top: 20px">
                                <p:commandButton value="Generar factura" ajax="true"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.save()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                        </p:panel>
                        <h:panelGrid columns="1" rendered="#{reservaBean.paneles==4}"
                                     style="background-color: #eee" >
                            <h:panelGroup >
                                <div align="center" >
                                    <h2 style="color:#000 ">Factura</h2>
                                </div>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h3>The Fool Tattoo</h3>
                                        <p>Av. Winston Churchill</p>
                                        <p>Plaza Orleans 3er. nivel</p>
                                        <p>local 312</p>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <span class="logo-mini"><img  height="75%" width="55%" src="#{facesContext.externalContext.requestContextPath}/resources/logo.png" /></span>
                                    </h:panelGroup> 
                                </p:panelGrid>
                                <hr />
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid columns="2" >
                                            <strong> N° de factura:  </strong><h:outputText value="#{reservaBean.factura.nroFactura}"/>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <h:panelGrid columns="2" >
                                            <strong>  Fecha:  </strong><h:outputText  value="#{reservaBean.dateString}" 
                                                                                      />
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid columns="2" >
                                            <h:panelGroup>
                                                <strong> Estado : </strong><p:spacer width="5" height="5"/>
                                            </h:panelGroup>
                                            <h:outputText rendered="#{reservaBean.factura.estado=='P'}" 
                                                          style="color: #d58512; font-weight: bold" 
                                                          value=" Pendiente"/>
                                            <h:outputText rendered="#{reservaBean.factura.estado=='A'}" 
                                                          style="color: #00a65a; font-weight: bold" 
                                                          value=" Pagado"/>

                                            <h:outputText  rendered="#{factura.estado=='C'}" 
                                                           style="color: #c7254e; font-weight: bold" 
                                                           value="Anulado"/>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <h:panelGrid columns="2" >
                                            <strong>  Fecha de vencimiento:  </strong><h:outputText value="2024-12-31" 
                                                                                                    />
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid columns="2" >
                                            <strong>  Facturar a:  </strong><h:outputText value="#{reservaBean.cliente.nombre.concat(reservaBean.cliente.apellido)}" 
                                                                                          />
                                        </h:panelGrid>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <h:panelGrid columns="2" >
                                            <strong>Enviar a: </strong><h:outputText value="#{reservaBean.cliente.email}"/>
                                        </h:panelGrid>
                                    </h:panelGroup> 
                                </p:panelGrid>

                                <hr />
                                <p:panelGrid columns="1" layout="grid">
                                    <h:panelGroup>
                                        <div class="row my-5">
                                            <table class="table table-borderless factura">
                                                <thead>
                                                    <tr>
                                                        <th>Cant.</th>
                                                        <th>Descripcion</th>
                                                        <th>Precio Unitario</th>
                                                        <th>Importe</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>#{reservaBean.factura.descripcion}</td>
                                                        <td><p:outputLabel value="#{reservaBean.factura.importe}">
                                                                <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                Gs.
                                                            </p:outputLabel></td>
                                                        <td><p:outputLabel value="#{reservaBean.factura.importe}">
                                                                <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                Gs.
                                                            </p:outputLabel></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Total Factura</th>
                                                        <th><p:outputLabel value="#{reservaBean.factura.importe}">
                                                                <f:convertNumber currencySymbol=" Gs." maxFractionDigits="0" pattern="###,###"/>
                                                                Gs.
                                                            </p:outputLabel></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </h:panelGroup>
                        </h:panelGrid>


                        <div align="rigth"  style="margin-top: 20px">
                            <p:commandButton value="Volver al inicio" ajax="true"
                                             rendered="#{reservaBean.factura!=null and reservaBean.factura.idFactura!=null}"
                                             action="#{reservaBean.gotoReserva()}"
                                             style="background-color: #000;color: #ffffff"
                                             styleClass="mt-3 ui-button-outlined block">
                            </p:commandButton>
                        </div>

                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('servicio')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
