<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Asignacion de Roles</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('seguridad')}">
                        <h3>Roles y Usuarios</h3>
                        <p:separator style="color: #ffffff"/>
                        <p class="text-primary">Lista de Roles</p>
                        <p:dataTable value="#{rolUsuarioView.rolUsuarioList}" var="rolUsuario"
                                     rows="5" editable="true" 
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     emptyMessage="No hay registros"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Accion">
                                <div align="center" >
                                    <p:commandButton class="btn btn-default"  
                                                     oncomplete="$('#myModal').modal('show');" 
                                                     immediate="true"
                                                     action="#{rolUsuarioView.edit()}"
                                                     icon="ui-icon-pencil" 
                                                     title="Editar"  >
                                        <f:setPropertyActionListener value="#{rolUsuario}" target="#{rolUsuarioView.rolUsuario}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                    <p:commandButton class="btn btn-default"  
                                                     action="#{rolUsuarioView.delete()}"
                                                     icon="ui-icon-trash" 
                                                     title="Eliminar"  >
                                        <f:setPropertyActionListener value="#{rolUsuario}" target="#{rolUsuarioView.rolUsuario}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                </div>
                            </p:column>
                            <p:column headerText="# ">
                                <h:outputText value="#{rolUsuario.id}"/>
                            </p:column>
                            <p:column headerText="Rol">
                                <h:outputText value="#{rolUsuario.idRol.nombreRol}"/>
                            </p:column>
                            <p:column headerText="Usuario">
                                <h:outputText value="#{rolUsuario.idUsuario.nombre.concat(' ').concat(rolUsuario.idUsuario.apellido)}"/>
                            </p:column>
                        </p:dataTable>
                        <br></br>
                        <p:commandButton class="btn btn-primary"   
                                         action="#{rolUsuarioView.clear()}"
                                         oncomplete="$('#myModal').modal('show');" 
                                         immediate="true"
                                         value="Agregar">
                        </p:commandButton>
                </h:form>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog" >
                    <div class="modal-dialog">
                        <h:form id="from2">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"></button>
                                    <h4 class="modal-title">Registro nuevo</h4>
                                </div>
                                <div class="modal-body">
                                    <p:panelGrid columns="2"  layout="grid" styleClass="ui-noborder ui-panelGrid-black">
                                        <p:outputLabel  value="Rol : " />
                                        <h:selectOneMenu styleClass="form-control"  id="consoleeee" value="#{rolUsuarioView.rol}" >
                                            <f:selectItem itemLabel="--Seleccionar--" itemValue="" />
                                            <f:selectItems itemLabel="#{rol.nombreRol}"
                                                           itemValue="#{rol.idRol}" var="rol"
                                                           value="#{rolUsuarioView.roles}"/>
                                        </h:selectOneMenu>
                                        <p:outputLabel  value="Usuario : " />
                                        <h:selectOneMenu styleClass="form-control"  id="usuariorol" value="#{rolUsuarioView.idUsuario}" >
                                            <f:selectItem itemLabel="--Seleccionar--" itemValue="" />
                                            <f:selectItems itemLabel="#{usuario.nombre.concat(' ').concat(usuario.apellido)}"
                                                           itemValue="#{usuario.idUsuario}" var="usuario"
                                                           value="#{rolUsuarioView.usuarios}"/>
                                        </h:selectOneMenu>
                                        <br></br>
                                    </p:panelGrid>

                                    <div  class="modal-footer">
                                        <div align="center" >
                                            <h:panelGrid   columns="2" >
                                                <h:commandButton  class="btn btn-primary" value="Guardar"
                                                                  action="#{rolUsuarioView.save()}"  >
                                                </h:commandButton>
                                            </h:panelGrid>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!loginBean.tienePermiso('seguridad')}">
                                <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                            </h:panelGroup> 

                        </h:form>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
