<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Reserva</title>
        <style type="text/css">
            .colorstile{
                background: #f4f4f4
            }
            .ui-fileupload-cancel ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only{
                display: none;
            }
            body .ui-selectonemenu {
                vertical-align: middle;
            }

            .label {
                width: 2%;
                padding: 2px;
            }

            .value {
                width: 80%;
                padding: 4px;
            }

            .grid {
                width: 100%;
            }

            .error {
                color: red;
            }

            .outputLabel {
                font-weight: bold;
            }

            .grid {
                width: 33%;
                padding: 4px;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <p:messages id="messages" showDetail="true" >
                </p:messages>
                <h:form id="simuladorForm" style="color: #ffffff" enctype="multipart/form-data">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('servicio')}">
                        <p:panel rendered="#{reservaBean.paneles==0}"  style="background-color: #f9f9f9" header="Presupuesto" >

                            <p:panel rendered="#{simuladorBean.mostrarMensaje}">
                                <div  class="alert alert-warning" role="alert" >
                                    Atención <a href="#" class="alert-link">  fabor verifique los campos requeridos</a>
                                </div>
                            </p:panel>

                            <p:panelGrid  columns="1" layout="grid">
                                <h:panelGrid columns="2" >
                                    <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel>Imagen de referencia :</p:outputLabel>
                                </h:panelGrid>
                                <p:fileUpload auto="true"  label="Subir"  update="simuladorForm" 
                                              listener="#{simuladorBean.handleFileUpload}">
                                </p:fileUpload>
                                <p:outputPanel  rendered="#{not empty simuladorBean.originalImageFile}" id="cropperPanel">
                                    <h:panelGrid columns="2" cellpadding="7">
                                        <p:graphicImage cache="false" width="600px" height="300px"
                                                        value="#{simuladorBean.getImage()}"/>
                                    </h:panelGrid>
                                </p:outputPanel>
                            </p:panelGrid>
                            <p:separator></p:separator>
                            <p:panelGrid  columns="3" layout="grid">
                                <h:panelGrid>
                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel>Alto (cm) :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputNumber value="#{simuladorBean.presupuesto.alto}">
                                            <p:ajax />
                                        </p:inputNumber >

                                    </h:panelGrid>
                                </h:panelGrid>
                                <h:panelGroup>
                                    <h:panelGrid  columns="1" >
                                        <h:panelGrid columns="2" >
                                            <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   <p:outputLabel> Largo (cm) :</p:outputLabel>
                                        </h:panelGrid>
                                        <p:inputNumber value="#{simuladorBean.presupuesto.largo}"> <p:ajax /></p:inputNumber >
                                    </h:panelGrid>
                                </h:panelGroup>
                                <p:panelGrid  columns="1" layout="grid">
                                    <h:panelGrid columns="2" >
                                        <p:outputLabel style="color: #f71752">(*)</p:outputLabel>   
                                        <p:outputLabel>Zona a tatuar :</p:outputLabel>
                                    </h:panelGrid>
                                    <h:selectOneMenu styleClass="form-control"   value="#{simuladorBean.zonaSeleccionada}"
                                                     >
                                        <f:selectItem  itemLabel="--Seleccione"
                                                       itemValue="#{null}"/>
                                        <f:selectItems value="#{simuladorBean.zonas}" var="zona" 
                                                       itemLabel="#{zona.descripcion}"
                                                       itemValue="#{zona.id}"/>
                                        <p:ajax event="change" />
                                    </h:selectOneMenu  >
                                </p:panelGrid>
                            </p:panelGrid>

                            <p:separator></p:separator>

                            <h:panelGrid  border="1"  style="border-color: #adadad">
                                <p:panelGrid id="panelTabla"  columns="2" 
                                             layout="grid">
                                    <h:panelGroup>
                                        <p style="color:#007bb6; "><b>Colores disponibles</b> </p>
                                        <p:dataTable value="#{simuladorBean.colors}" var="color" rowKey="#{color.id}"
                                                     emptyMessage="No se encontraron registros."
                                                     scrollable="true" scrollHeight="170">
                                            <p:column headerText="Color" >
                                                <p:outputLabel value="#{color.descripcion}"></p:outputLabel>
                                            </p:column>
                                            <p:column headerText="Opción" style="width: 40%">
                                                <p:commandButton ajax="true" style="font-size:12px"
                                                                 value="Agregar">
                                                    <p:ajax update="simuladorForm" listener="#{simuladorBean.addColor(color)}"/>
                                                </p:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p style="color:#007bb6; "><b><p:outputLabel style="color: #f71752">(*)</p:outputLabel>Colores seleccionados</b> </p>
                                        <p:dataTable value="#{simuladorBean.coloresSeleccionados}" var="color"
                                                     emptyMessage="No se encontraron registros."
                                                     rowKey="#{color.id}"
                                                     scrollable="true" scrollHeight="170">
                                            <p:column headerText="Opción" style="width: 40%">
                                                <p:commandButton ajax="true" value="Eliminar" style="font-size:12px" >
                                                    <p:ajax update="simuladorForm" listener="#{simuladorBean.eliminarColor(color)}"/>
                                                </p:commandButton>
                                            </p:column>
                                            <p:column headerText="Color">
                                                <p:outputLabel value="#{color.descripcion}"></p:outputLabel>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </h:panelGrid>



                            <div align="center"  style="margin-top: 20px">
                                <p:commandButton value="Generar presupuesto" ajax="true"  style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{simuladorBean.calcularPresupuesto()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                            <p:panelGrid style="margin-top: 20px"  id="panelPresu" rendered="#{simuladorBean.verBloqueGenerar}" columns="2" layout="grid">
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid  columns="1" >
                                            <p:outputLabel value=" Cantidad estimada (hs) : "></p:outputLabel>
                                            <p:spinner disabled="true" min="0" value="#{simuladorBean.presupuesto.cantHoras}"></p:spinner >
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid  columns="1" >
                                            <p:outputLabel value=" Costo por hora : "></p:outputLabel>
                                            <p:spinner disabled="true" min="0" value="#{simuladorBean.presupuesto.costoHora}"></p:spinner >
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid  columns="1" >
                                            <p:outputLabel value=" Costo de seña : "></p:outputLabel>
                                            <p:spinner disabled="true" min="0" value="#{simuladorBean.presupuesto.total}"></p:spinner >
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid">
                                    <h:panelGroup>
                                        <h:panelGrid  columns="1" >
                                            <p:outputLabel value=" Costo total : "></p:outputLabel>
                                            <p:spinner disabled="true" min="0" value="#{simuladorBean.presupuesto.total}"></p:spinner >
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </p:panelGrid>
                            <div align="rigth"  style="margin-top: 20px">
                                <p:commandButton value="Siguiente" ajax="true"
                                                 rendered="#{simuladorBean.verBloqueGenerar}"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.siguientePanel()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                        </p:panel>
                        <p:panel  rendered="#{reservaBean.paneles==1}"  style="background-color: #f9f9f9" header="Datos de Reserva" >
                            <p:panelGrid columns="4" layout="grid">
                                <p:outputLabel value=" Fecha : "></p:outputLabel>
                                <p:calendar pattern="yyyy/MM/dd" value="#{reservaBean.fecha}">
                                    <p:ajax  event="dateSelect" />
                                </p:calendar>

                                <p:outputLabel value=" Hora inicio : "></p:outputLabel>
                                <p:datePicker maxlength="6" id="timeonly" showTime="true"  value="#{reservaBean.horaDesde}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                                <p:outputLabel value=" Hora fin estimada : "></p:outputLabel>
                                <p:datePicker maxlength="6" id="timeonlys" showTime="true"  value="#{reservaBean.horaHasta}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                            </p:panelGrid>
                            <p:panel rendered="#{reservaBean.fechadesdeMayorhasta}">
                                <div  class="alert alert-warning" role="alert" >
                                    Verifique los horarios ingresados <a href="#" class="alert-link"> Hora desde no puede ser mayor a hora hasta.</a>. 
                                </div>
                            </p:panel> 

                            <div align="center"  style="margin-top: 20px">
                                <p:commandButton value="Verificar disponibilidad" ajax="true"  style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.verificarDisponibilidad()}" 
                                            update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                            <p:panel rendered="#{reservaBean.estaDisponible==1}">
                                <div  class="alert alert-warning" role="alert" >
                                    No existen lugares disponibles <a href="#" class="alert-link"> elija otro rano horario</a>. Vuelt¿va a intentarlo.
                                </div>
                            </p:panel>
                            <p:panel rendered="#{reservaBean.estaDisponible==3}">
                                <div  class="alert alert-success" role="alert" >
                                    Existen lugares disponibles <a href="#" class="alert-link"> </a>. 
                                </div>
                            </p:panel>

                            <div align="rigth"  style="margin-top: 20px">
                                <p:commandButton value="Siguiente" ajax="true"
                                                 rendered="#{reservaBean.estaDisponible==3 and  !reservaBean.fechadesdeMayorhasta}"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.siguientePanel()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>

                        </p:panel>
                        <p:panel  rendered="#{reservaBean.paneles==2}" style="background-color: #f9f9f9" header="Datos del cliente"  >
                            <p:panelGrid columns="2" id="pnCliente" layout="grid">
                                <p:panel style="background-color: #f9f9f9" header="Listado de Clientes"  >
                                    <p:dataTable value="#{reservaBean.clientes}" var="cliente"
                                                 scrollable="true" scrollHeight="350">
                                        <p:column width="10%" headerText="# ">
                                            <div align="center" ><h:outputText value="#{cliente.idPersona}"/></div>
                                        </p:column>
                                        <p:column width="40%" headerText="Cliente">
                                            <div align="center" >
                                                <h:outputText value="#{cliente.nombre.concat(' ').concat(cliente.apellido)}"/>
                                            </div>
                                        </p:column>
                                        <p:column width="40%" headerText="Ruc">
                                            <div align="center" >
                                                <h:outputText value="#{cliente.ruc}"/>
                                            </div>
                                        </p:column>
                                        <p:column width="40%" headerText="Email">
                                            <div align="center" >
                                                <h:outputText value="#{cliente.email}"/>
                                            </div>
                                        </p:column>
                                        <p:column width="40%" headerText="Opción">
                                            <div align="center" >
                                                <p:commandButton ajax="true"
                                                                 value="Seleccionar">
                                                    <p:ajax update="simuladorForm"
                                                            listener="#{reservaBean.seleccionarCliente(cliente)}"  />
                                                </p:commandButton>
                                            </div>
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                                <h:panelGroup>
                                    <p:panel style="background-color: #f9f9f9" header="Cliente Seleccionado"  >
                                        <p:panelGrid columns="2"  layout="grid">
                                            <h:outputText value="Nombre:"/>
                                            <h:inputText disabled="true" required="true" requiredMessage="Selecione el cliente."
                                                         value="#{reservaBean.cliente.nombre.concat(reservaBean.cliente.apellido)}" 
                                                         />
                                            <h:outputText value="Nro Cedula"/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.cedula}" />

                                            <h:outputText value="Email: "/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.email}"/>
                                        </p:panelGrid>
                                    </p:panel>
                                </h:panelGroup>
                            </p:panelGrid>
                            <div align="rigth"  style="margin-top: 20px">
                                <p:commandButton value="Siguiente" ajax="true"
                                                 rendered="#{reservaBean.cliente!=null}"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.siguientePanel()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                        </p:panel>

                        <p:panel  rendered="#{reservaBean.paneles==3}" style="background-color: #f9f9f9" header="Resumen"  >
                            <p:panelGrid columns="4" layout="grid">
                                <p:outputLabel value=" Fecha : "></p:outputLabel>
                                <p:calendar  value="#{reservaBean.fecha}">
                                    <p:ajax  event="dateSelect" />
                                </p:calendar>

                                <p:outputLabel value=" Hora inicio : "></p:outputLabel>
                                <p:datePicker maxlength="6"  showTime="true"  value="#{reservaBean.horaDesde}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                                <p:outputLabel value=" Hora fin estimada : "></p:outputLabel>
                                <p:datePicker maxlength="6"  showTime="true"  value="#{reservaBean.horaHasta}"
                                              timeOnly="true" pattern="HH:mm">
                                    <p:ajax />
                                </p:datePicker>
                            </p:panelGrid>
                            <p:panelGrid columns="2"  layout="grid">


                                <p:panelGrid style="margin-top: 20px" rendered="#{simuladorBean.verBloqueGenerar}" columns="2" layout="grid">
                                    <p:panelGrid columns="2" layout="grid">
                                        <h:panelGroup>
                                            <h:panelGrid  columns="1" >
                                                <p:outputLabel value=" Cantidad estimada (hs) : "></p:outputLabel>
                                                <p:spinner disabled="true" min="0" value="#{simuladorBean.presupuesto.cantHoras}"></p:spinner >
                                            </h:panelGrid>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                    <p:panelGrid columns="2" layout="grid">
                                        <h:panelGroup>
                                            <h:panelGrid  columns="1" >
                                                <p:outputLabel value=" Costo por hora : "></p:outputLabel>
                                                <p:spinner disabled="true" min="0" value="#{simuladorBean.presupuesto.costoHora}"></p:spinner >
                                            </h:panelGrid>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                    <p:panelGrid columns="2" layout="grid">
                                        <h:panelGroup>
                                            <h:panelGrid  columns="1" >
                                                <p:outputLabel value=" Costo de seña : "></p:outputLabel>
                                                <p:spinner disabled="true" min="0" value="#{simuladorBean.presupuesto.total}"></p:spinner >
                                            </h:panelGrid>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                    <p:panelGrid columns="2" layout="grid">
                                        <h:panelGroup>
                                            <h:panelGrid  columns="1" >
                                                <p:outputLabel value=" Costo total : "></p:outputLabel>
                                                <p:spinner disabled="true" min="0" value="#{simuladorBean.presupuesto.total}"></p:spinner >
                                            </h:panelGrid>
                                        </h:panelGroup>
                                    </p:panelGrid>
                                </p:panelGrid>
                                <h:panelGroup>
                                    <p:panel style="background-color: #f9f9f9" header="Cliente Seleccionado"  >
                                        <p:panelGrid columns="2"  layout="grid">
                                            <h:outputText value="Nombre:"/>
                                            <h:inputText disabled="true" required="true" requiredMessage="Selecione el cliente."
                                                         value="#{reservaBean.cliente.nombre.concat(reservaBean.cliente.apellido)}" 
                                                         />
                                            <h:outputText value="Nro Cedula"/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.cedula}" />

                                            <h:outputText value="Email: "/>
                                            <h:inputText disabled="true" value="#{reservaBean.cliente.email}"/>
                                        </p:panelGrid>
                                    </p:panel>
                                </h:panelGroup>
                            </p:panelGrid>
                            <div align="rigth"  style="margin-top: 20px">
                                <p:commandButton value="Guardar" ajax="true"
                                                 style="background-color: #000;color: #ffffff"
                                                 styleClass="mt-3 ui-button-outlined block">
                                    <p:ajax event="click" listener="#{reservaBean.save()}" update="simuladorForm"/>
                                </p:commandButton>
                            </div>
                        </p:panel>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('servicio')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup>

                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
