<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Marcas</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('seguridad')}">
                        <h3>Marcas</h3>
                        <p:separator style="color: #ffffff"/>
                        <p class="text-primary">Lista de Marcas</p>
                        <p:dataTable value="#{marcaBean.params}" var="p"
                                     rows="7"  
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     emptyMessage="No hay registros"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column width="20%" headerText="Accion">
                                <div align="center" >
                                    <p:commandButton class="btn btn-default" 
                                                     action="#{marcaBean.edit()}"
                                                     style="width: 15px; height:20px;"
                                                     icon="ui-icon-pencil" 
                                                     title="Editar"  >
                                        <f:setPropertyActionListener value="#{p}" target="#{marcaBean.param}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                </div>
                            </p:column>
                            <p:column width="10%" headerText="# ">
                                <div align="center" ><h:outputText value="#{p.id}"/></div>
                            </p:column>
                            <p:column width="40%" headerText="Descripcion">
                                <div align="center" >
                                    <h:outputText value="#{p.descripcion}"/>
                                </div>
                            </p:column>
                        </p:dataTable>
                        <br></br>
                        <h:commandButton class="btn btn-primary"   
                                         action="#{marcaBean.add()}"
                                         value="Agregar">
                        </h:commandButton>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{!loginBean.tienePermiso('seguridad')}">
                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                    </h:panelGroup> 

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
