<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Usuarios</title>
    </h:head>
    <h:body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define  name="body" >
                <h:form id="from1">
                    <h:panelGroup rendered="#{loginBean.tienePermiso('seguridad')}">
                        <h3>Usuarios</h3>
                        <p:separator style="color: #ffffff"/>
                        <p class="text-primary">Lista de Usuarios</p>
                        <p:dataTable value="#{userView.users}" var="user"
                                     rows="5" 
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     emptyMessage="No hay registros"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15"
                                     >
                            <p:column  headerText="Acción" >
                                <div align="center" >

                                    <p:commandButton class="btn btn-default"  
                                                     oncomplete="$('#myModal').modal('show');" 
                                                     immediate="true"
                                                     action="#{userView.ver()}"
                                                     icon="ui-icon-zoomin"   
                                                     title="Ver detalle"  >
                                        <f:setPropertyActionListener value="#{user}" target="#{userView.usuario}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                    <p:commandButton class="btn btn-default"  
                                                     oncomplete="$('#myModal').modal('show');" 
                                                     immediate="true"
                                                     action="#{userView.editar()}"
                                                     icon="ui-icon-pencil" 
                                                     title="Editar"  >
                                        <f:setPropertyActionListener value="#{user}" target="#{userView.usuario}" ></f:setPropertyActionListener >
                                    </p:commandButton>
                                </div>
                            </p:column>
                            <p:column headerText="Nombre">
                                <div align="center" >
                                    <h:outputText value="#{user.nombre}" />
                                </div>
                            </p:column>
                            <p:column headerText="Apellido">
                                <div align="center" >
                                    <h:outputText value="#{user.apellido}" />
                                </div>
                            </p:column>
                            <p:column headerText="Usuario">
                                <div align="center" >
                                    <h:outputText value="#{user.usuario}" />
                                </div>
                            </p:column>
                            <p:column headerText="Email">
                                <div align="center" >
                                    <h:outputText value="#{user.email}" />
                                </div>
                            </p:column>
                        </p:dataTable>
                        <br></br>
                        <p:commandButton class="btn btn-primary"   
                                         action="#{userView.clear()}"
                                         onclick="$('#myModal').modal('show');" 
                                         immediate="true"
                                         value="Agregar usuario">
                        </p:commandButton>
                </h:form>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog" >
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"></button>
                                <h4 class="modal-title">Registro de usuario</h4>
                            </div>
                            <div class="modal-body">
                                <h:form id="from2">
                                    <h4  value="Datos Personales">Datos Personales</h4>
                                    <p:separator/>
                                    <fieldset style="background: #ffffff" >
                                        <br></br>

                                        <p:panelGrid columns="2"  styleClass="ui-noborder ui-panelGrid-black">
                                            <p:outputLabel value="Nombre: " />
                                            <p:inputText id="nombre"  value="#{userView.usuario.nombre}"
                                                         />

                                            <p:outputLabel value="Apellido:" />
                                            <p:inputText id="apellido" value="#{userView.usuario.apellido}"
                                                         /> 

                                            <p:outputLabel value="Correo: " />
                                            <p:inputText id="Correo"  value="#{userView.usuario.email}"
                                                         />

                                            <p:outputLabel  value="Telefono:" />
                                            <p:inputText id="Telefono" value="#{userView.usuario.telefono}"
                                                         /> 
                                        </p:panelGrid>
                                        <br></br>
                                    </fieldset>

                                    <h4 value="Datos de Usuario">Datos de Usuario</h4>
                                    <p:separator/>
                                    <fieldset style="background: #ffffff" >
                                        <br></br>
                                        <p:panelGrid columns="2" styleClass="ui-noborder ui-panelGrid-black">
                                            <p:outputLabel value="Usuario: " />
                                            <p:inputText id="usuarios" value="#{userView.usuario.usuario}"
                                                         />

                                            <p:outputLabel value="Contraseña:" />
                                            <p:password    id="contraseña"  value="#{userView.usuario.pass}"
                                                           /> 
                                        </p:panelGrid>
                                    </fieldset>
                                    <br></br>

                                    <div  class="modal-footer">
                                        <div align="center" >
                                            <h:panelGrid rendered="#{!userView.verB}" columns="2" >
                                                <h:commandButton  class="btn btn-primary" value="Guardar"
                                                                  action="#{userView.save()}"  >
                                                </h:commandButton>
                                            </h:panelGrid>
                                        </div>
                                    </div>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{!loginBean.tienePermiso('seguridad')}">
                                        <span class="logo-mini"><img src="#{facesContext.externalContext.requestContextPath}/resources/error.png" /></span>
                                    </h:panelGroup> 

                                </h:form>
                            </div>
                        </div>

                    </div>
                </div>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
